[2020-01-09 17:47] anatol commented on #1362
I see somewhat similar error with `rack`+`rack-ouat2` at ruby2.7. It is not clear for me what is the root of the problem. https://gitlab.com/groups/gitlab-org/-/epics/2380#note_269347237

[2020-01-09 21:39] ioquatix commented on #1362
Try using `RUBYOPT=-d` to see all exceptions when they are thrown.

Also, it's odd that the body is wrapping an exception. Should be somewhere in the user middleware?

[2020-01-09 21:42] ioquatix commented on #1425
It looks like it comes from SIP: https://en.wikipedia.org/wiki/List_of_SIP_response_codes

As this is probably out of scope for Rack, I am closing this issue, however please feel free to submit a PR with the documentation as requested so we can consider it.

[2020-01-09 21:42] #1425 closed

[2020-01-09 21:42] ioquatix commented on #1266
@tenderlove I think the solution is to deprecate and remove the `Rack::Chunked` middleware. Are you happy for me to add a deprecation warning in 2.1.0?

[2020-01-09 21:51] anatol commented on #1362
@ioquatix The debug journal for this bug is here https://gitlab.com/groups/gitlab-org/-/epics/2380  Honestly I not know the middleware/rack internals and it is not clear for me what is going on there.

[2020-01-09 21:59] ioquatix commented on #1362
@anatol try running with `RUBYOPT=-d` and report back the source of the error.

[2020-01-10 15:30] anatol commented on #1362
I enabled `RUBYOPT=-d` and got a lot of warnings. You might want to look at them here https://pkgbuild.com/~anatolik/gitlab.log.zip

Probably the most relevant is this one:
[code]

[2020-01-10 20:43] thedanbob opened #1464 "Rack 2.1.0 breaks ActiveStorage"
I submitted [this issue](https://github.com/rails/rails/issues/38214) to Rails and they sent me here.

Rack::File (now Rack::Files) no longer accepts nil as a first parameter per this commit: https://github.com/rack/rack/commit/8f85307711ca5e7a4729641fda1552890ffa129a. `File.expand_path` throws a TypeError.

This breaks the ActiveStorage file server: https://github.com/rails/rails/blob/master/acti

[2020-01-10 20:54] ioquatix commented on #1464
What do you think is the right behaviour?

- Do nothing - nil is not a valid root path.
- Allow nil root path - potentially other operations broken (although maybe not in practice).

I'm not quite sure what is the right way forward. We did break backwards compatibility.

[2020-01-10 20:55] rafaelfranca commented on #1464
I think we should keep `nil` being a valid path, at least in 2.1. It works today for Active Storage use case.

[2020-01-10 20:56] ioquatix commented on #1464
Okay I can make a PR.

[2020-01-10 20:57] rafaelfranca commented on #1464
👍

[2020-01-10 21:22] #1464 closed

[2020-01-10 21:52] ioquatix commented on #964
Thanks for your contribution, but we are not going to change this, please see the original bug report for details.

[2020-01-10 21:52] #964 closed

[2020-01-10 22:22] ioquatix commented on #849
Merged.

[2020-01-10 22:22] #849 closed

[2020-01-10 22:26] ioquatix commented on #822
I think this is out of scope for Rack. If you think it's in scope, please make a PR.

[2020-01-10 22:26] #822 closed

[2020-01-10 22:32] boffbowsh commented on #964
Which original bug report?

[2020-01-10 22:33] #877 closed

[2020-01-10 22:46] ioquatix commented on #964
Sorry, I meant PR: https://github.com/rack/rack/pull/997

[2020-01-10 23:12] ioquatix commented on #852
We are doing our best to keep this up to date, but there are lots of PRs which I've just merged. I welcome someone to help update the relevant change log.

[2020-01-10 23:12] #852 closed

[2020-01-10 23:14] ioquatix commented on #782
It seems like relevant PRs have been merged. If this is still an issue can you create a PR with failing specs. Thanks everyone!

[2020-01-10 23:14] #782 closed

[2020-01-10 23:14] ioquatix commented on #1013
Fixed.

[2020-01-10 23:14] #1013 closed

[2020-01-10 23:16] ioquatix commented on #890
Please reopen this issue if this work is still relevant.

[2020-01-10 23:16] #890 closed

[2020-01-10 23:17] ioquatix commented on #890
By the way, great work on this, I see the ruby issue was implemented, so maybe just needs a little bit more work here? Feel free to open a PR.

[2020-01-10 23:19] ioquatix commented on #1095
Feel free to submit a PR if you can see a way to resolve this without breaking backwards compatibilty.

Additionally, there are some improvements to `Rack::Response` implemented in master.

[2020-01-10 23:19] #1095 closed

[2020-01-10 23:31] ioquatix commented on #1094
I've added `Rack::Response[status, headers, body]` and `Rack::MockResponse[status, headers, body]` as a way to mitigate this issue and perhaps in Rack 3.0 we can break this.

[2020-01-10 23:31] #1094 closed

[2020-01-10 23:41] ioquatix commented on #808
I think this is a bug in Ruby which should since be solved.

[2020-01-10 23:41] #808 closed

[2020-01-10 23:58] jeremyevans commented on #1433
The issue with `to_s` raising has been fixed by 88324d754671098a0693cc0c9568300bc96a6c94, and backported to 2.0 (46a6910f0be356221ef06543d1ef0e166d1014a6) and 1.6 (698a060133940a7d9a35c538890ab907f853250e).

The `id.public_id` issue should be fixable via something like `id.public_id if id`.  I'll see if that works.

[2020-01-11 00:02] Aupajo opened #1467 "CHANGELOG is missing 2.1.0"
The [CHANGELOG](https://github.com/rack/rack/blob/master/CHANGELOG.md) doesn't currently indicate what's changed between 2.0.8 and 2.1.0.

[2020-01-11 00:29] ioquatix commented on #1467
Do you have time to make a PR? I'm currently up to my neck in bug hunting.

[2020-01-11 00:29] ioquatix commented on #1467
Here is a good start: https://github.com/rack/rack/blob/master/CHANGELOG.md#unreleased

[2020-01-11 00:41] #1433 closed

[2020-01-11 00:46] Aupajo commented on #1467
@ioquatix Can do! How do I know what went into 2.1.0? Is it okay to move everything in “Unreleased” to 2.1.0?

[2020-01-11 00:50] ioquatix commented on #1467
@Aupajo yes that should be good, and also there should be a few (like 2-4) oustanding PRs on the 2.1.0 tag which are not in that list.

[2020-01-11 00:51] Aupajo commented on #1467
Great. I'll hunt for them and open a PR.

[2020-01-11 01:23] ioquatix commented on #1322
v2.1.0 was released.

[2020-01-11 01:23] #1322 closed

[2020-01-11 01:37] ioquatix commented on #1339
Please make a PR if you feel this issue warrants further attention. I think the plan in Rack 3.0 is to remove everything except for the WEBRick adapter and provide better points of integration with 3rd party servers. Things like FCGI are dead, for example. So, it doesn't make much sense having it in Rack core.

[2020-01-11 01:37] #1339 closed

[2020-01-11 02:18] #1467 closed

[2020-01-11 02:22] ioquatix commented on #1452
Can you make a PR?

[2020-01-11 02:56] jeremyevans commented on #1452
I tried to reproduce this issue using the provided code and directory structure and was unable to do so:

[code]

The above output was produced using Puma as the web server.  Webrick and Unicorn produced similar results.

If you still think this is a bug in rack, please submit a failing test.

[2020-01-11 07:29] erwanlr commented on #1452
The issue appears to have been fixed in Rack 2.1.0 released earlier.

Below was my output with Rack 2.0.8

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-01-11 07:30] ioquatix commented on #1452
Okay great, if you are satisfied the issue is fixed can you please close the issue :)

[2020-01-11 07:30] #1452 closed

[2020-01-11 11:01] erwanlr commented on #1266
I second the removal of the `Rack::Chunked` middleware

[2020-01-11 11:17] gverger opened #1471 "Regression with Rack::File.new(nil)"
Hello,

I updated rack to 2.1.0 on my Rails 6.0.2.1 app, and it broke with the active storage disk controller.
It seems that it comes from this [line](https://github.com/rails/rails/commit/feab7031b57040afa2b2f5f78f9251dbad6cbdf8#diff-17640e7129bc730594120c1ac91d7928L45) in rails, where `Rack::File.new(nil)` is called.

It has been changed [here](https://github.com/rack/rack/commit/8f85307711ca5e7

[2020-01-11 11:18] gverger commented on #1471
FYI there was a Stackoverflow question here starting it: https://stackoverflow.com/questions/59691691/rails-typeerror-no-implicit-conversion-of-nil-into-string-when-loading-image/59693773#59693773

[2020-01-11 13:38] erwanlr opened #1472 "2.1.0 - Content-Length no longer present in response's specs"
After updating to 2.1.0, all my tests checking for the `Content-Length` header in responses are failing. It seems like the header is not set anymore somehow.

Here is an example:

[code]

[code]

[code]

Gemfile
[code]

Put these files in a same directory and run` rspec spec.rb` if using RSpec or `bundle exec ruby test.rb` to use Minitest

Output with Rack 2.1.0, and Rack-Test 1.1.0:
[code]

Outpu

[2020-01-11 15:14] DannyBen opened #1473 "Clarify: Should we use Rack::File or Rack::Files"
Can someone please clarify the intentions in regards to `Rack::File` and `Rack::Files`?

Here are the confusing facts:

- There was a [7 year old pull request](https://github.com/rack/rack/pull/305) that changes `File` to `Files`, which was just recently merged.
- There is a [deprecation warning](https://github.com/rack/rack/blob/2.1.0/lib/rack/file.rb) in the currently released 2.1.0 version.
- T

[2020-01-11 16:39] tagliala commented on #1471
Hi, I've stumbled into this

Found a duplicate of this issue: #1464

This has already been fixed on rack master via 1b82d84

[2020-01-11 16:55] dblock commented on #852
My 0.02c is that no PR should be merged without having the changelog updated. Might want to try Danger with https://github.com/dblock/danger-changelog to avoid having to nag manually. Happy to help set that up.

[2020-01-11 17:30] dentarg commented on #1432
Are the issues reported here fixed by https://github.com/rack/rack/pull/1469? (see also https://github.com/rack/rack/issues/1433#issuecomment-573251375)

[2020-01-11 18:17] #1471 closed

[2020-01-11 18:53] ioquatix commented on #852
At this point with PRs that are 3+ years old, we are stuck. Just need to get through this backlog. Agree with you about needing it to be provided in the PR.

[2020-01-11 20:01] ioquatix commented on #1471
I think the rails use case is fragile. We didn't expect root to be nil. However, we've reverted the change and added specs for this use case.

[2020-01-11 20:03] ioquatix commented on #1473
Use `Rack::Files`. Because `Rack::File` is confusing when used in combination with `::File`. The removal of the deprecation notice sends the wrong message. It's definitely deprecated and will be removed in Rack 3.x.

[2020-01-11 20:03] #1473 closed

[2020-01-11 20:05] ioquatix commented on #1472
Where are you expecting content-length header to come from? Was there some implicit middleware before that is no longer present?

[2020-01-11 20:10] ioquatix commented on #1472
It seems like the behaviour of `rackup` in my specs changed as well.

[code]

This seems to imply a lack of `transfer-encoding` header.

[2020-01-11 20:19] erwanlr commented on #1472
All I did was update Rack from 2.0.8 to 2.1.0, ran the specs and got some failures. There was some middleware involved in my real case scenario, yes. However, I managed to get a minimum example to reproduce the issue to provide that here w/o any middleware and so on so that you can check that w/o having to dig into a bigger app and stuff ^^.

I don't think it's the responsibility of a middleware t

[2020-01-11 20:20] ioquatix commented on #1472
After 3 years of PRs we can only do our best, unfortunately something has obviously slipped through the cracks.

I'll see if we can't fix this in a 2.1.1 release.

[2020-01-11 20:29] jeremyevans commented on #740
This should be fixed in 2.1.0.

[2020-01-11 20:29] #740 closed

[2020-01-11 20:31] erwanlr commented on #1472
No worries, it only happen in specs by the looks of it (as running `rackup` will add some middleware like the ContentLength one, and running it w/o a valid env, like `rackup -E prod` will have the server put the ContentLength by itself - at least with WEBrick. However, as in the specs the server it not running, well, boom.)

Which brings me to a question, with the example in my first post, how cou

[2020-01-11 20:31] ioquatix commented on #1472
Okay, I figured out at least partially what's going on.

For a long time, `Rack::Chunked` has been broken, I think it's `HTTP_VERSION` detection was borked. A recent PR seems to have fixed it, and now it's applying is behaviour more liberally, which is deleting the content length and sending the data using chunked encoding.

[code]

![image](https://user-images.githubusercontent.com/30030/72210312

[2020-01-11 20:33] jeremyevans commented on #1432
Yes, this issue was fixed by #1469, and has been backported already.

[2020-01-11 20:33] #1432 closed

[2020-01-11 20:53] jeremyevans commented on #1431
Regarding point 1, I agree that the vulnerability is not that great and does take substantial time to pull off.  However, that doesn't mean the issue should be ignored. We should attempt to prevent timing attacks to the extent feasible.

From a brief analysis, I'm not sure point 2 results in a more vulnerable situation than the previous behavior.  However, because the public id is still used, I be

[2020-01-11 20:56] ioquatix commented on #1472
Can you please try with latest master which removes `Rack::Chunked` from the default stack and let me know if that fixes your issues?

[2020-01-11 21:23] jeremyevans commented on #1390
Can you provide a full backtrace or self-contained reproducible example for this issue?  `Rack::Utils.parse_nested_query` can't directly return a 400 response, so all it can do is raise an exception.  There would need to be something at a higher level to rescue the exception and return a 400 response.

Your middleware looks basically OK, but you are only parsing the QUERY_STRING.  Since the issue

[2020-01-11 21:25] jeremyevans commented on #1387
2.1.0 was released yesterday, so I think this can be closed.

[2020-01-11 21:25] #1387 closed

[2020-01-11 21:48] jeremyevans commented on #1374
I agree that the current behavior is undesirable. Fix 1 I also think is undesirable, as it breaks existing code and normal expectation.  Fix 2 I think is reasonable. As a possible fix 3, we may consider default behavior similar to Apache and Nginx (ignoring headers with underscores), with an option to allow underscores in headers (for the current behavior).

[2020-01-11 21:55] erwanlr commented on #1472
Nop, did not fix it (tested with v2.2.0 from master)

[2020-01-11 22:25] ioquatix commented on #1472
Damn. Can you make a small repro?

[2020-01-11 22:26] #1367 closed

[2020-01-11 22:37] ioquatix commented on #1472
We've just release 2.1.1 can you please try that.

[2020-01-11 22:40] jeremyevans commented on #1362
The isssue @anatol brought up was determined to be caused by Grape.  @daveroberts can you run with `RUBYOPT=-d` and provide the output or produce a self-contained reproducible example?  Otherwise, it seems unlikely we can debug it.

FWIW, it seems most likely this problem is an application issue returning an exception as the body, instead of an object that responds to each.

[2020-01-11 22:53] ioquatix commented on #1362
Agreed, this is out of scope for Rack. The only thing I can suggest is putting a middleware at the top of your stack that checks the body and then reports the request details when it's an exception to debug this situation.

[2020-01-11 22:53] #1362 closed

[2020-01-11 23:39] ioquatix commented on #1374
So, an example of this kind of issue, would be `Content_Length` vs `Content-Length` and at the protocol level having that cause framing issues, which then leads to all sorts of awesome security issues. This has happened in the past when some servers were case sensitive, e.g. `ContentLength` and `CoNtEnTlEnGtH`.

Fortunately, Rack is not designed as a proxy, and this is more a concern of middle box

[2020-01-11 23:39] #1374 closed

[2020-01-12 00:02] ioquatix commented on #1374
cc @evanphx

[2020-01-12 01:36] ioquatix commented on #1266
I implemented the first part of this: I removed `Rack::Chunked` from `Rack::Server` and released it in 2.1.1 today.

It turns out that the chunked middleware was using `HTTP_VERSION` in 2.0.x which is badly supported... it was fixed everywhere to use `SERVER_PROTOCOL`, which triggered `Rack::Chunked` to start "working", and by working, I mean causing chaos by turning response bodies into chunked m

[2020-01-12 01:37] ioquatix commented on #1266
@boazsegev can you confirm that the latest 2.1.1 release no longer causes this issue and if so close it? Thanks!

[2020-01-12 01:54] jeremyevans commented on #1347
Any of the following options force a session to be committed with the request: :max_age, :renew, :drop, :defer, :expire_after.  When a session is committed with the request, the expires settings is from the time of commit, not the time of login.  Note that "time of login" is not a concept related to cookie expiration.  The most similar idea would be the time of session cookie creation, but that's

[2020-01-12 01:54] #1347 closed

[2020-01-12 03:51] jeremyevans commented on #1340
I think Rack 1.4 is no longer supported. I think only Rack 1.6, 2.0, and 2.1 are supported now.  I don't think `self.POST` can return `nil` anymore, it either returns a hash or raises.  If you think this is still a bug in a supported version, please submit a failing test or a self contained example showing the problem.

[2020-01-12 03:51] #1340 closed

[2020-01-12 04:00] jeremyevans commented on #1315
My guess as to a possible cause of this issue is that `Rack::Multipart` is defined by some other code.  Since the module is already defined, the autoload that rack defines doesn't trigger.

The fix in this case would be to require rack before attempting to define `Rack::Multipart`, so you should try that and see if it works.

I think the issue with requiring rack/multipart in rack/request is that

[2020-01-12 04:00] #1315 closed

[2020-01-12 04:13] jeremyevans commented on #1345
Rack::CommonLogger waits until `each` is called in order to correctly calculate the time spent processing the entire request, as that number is included in the log.  This is by design and not a bug.  The design has a tradeoff in that requests that don't process the entire body will not be logged, but the assumption is that shouldn't happen in most cases.

[2020-01-12 04:13] #1345 closed

[2020-01-12 04:50] jeremyevans commented on #1245
I updated the README to add Samuel and me to the core team.  I'm not sure whether all other people listed as core team members are still active.  If not, they should be moved to the Alumni section.  Looking at the commit log, it seems like the following people may no longer be active, using month of last commit:

* James Tucker (March 2016)
* Josh Peek (June 2011)
* Jose Valim (March 2012)
* Micha

[2020-01-12 08:25] erwanlr commented on #1472
Nop, still have the issue.

If you mean a way to reproduce the issue, it has been provided in the first post. I just edited it to also provide a test file to use with Minitest like done in this project.

Both tests (using RSpec and Minitest) pass with 2.0.8 but fail with 2.1.0+. It seems that the cause is this commit: https://github.com/rack/rack/commit/8c62821f4a464858a6b6ca3c3966ec308d2bb53e

[2020-01-13 03:41] ioquatix commented on #1472
Okay I am currently on holiday. Can you make a PR with a failing spec based on your repro.

[2020-01-13 15:55] tenderlove commented on #1431
@jeremyevans yes, I agree.  We need to remove the "automatic upgrading" in order to completely eliminate the timing attack.

[2020-01-13 20:03] boazsegev commented on #1266
I confirm that version 2.1.1 doesn't have this issue unless `Rack:Chunked` is manually used.

Thanks, @ioquatix  👏🏻👏🏻👍🏻

I'm mostly offline for the next two/three weeks. If there's anything more I may do, let me know. It may take me some more time, but I'll get there.

B.

[2020-01-13 21:24] julik commented on #890
@ioquatix I honestly forgot this patch existed, since it spent 4 years in the cooker. Turns out it has been merged 1 year ago, who knew. I will see if I can put together a PR

[2020-01-13 23:39] jeremyevans commented on #1342
As this is not listed in SPEC (https://github.com/rack/rack/blob/master/SPEC), I don't think rack makes any guarantee that the key is required.  Therefore, I do not think it is appropriate for the linter to check this.  There should be no need for the entry, even on the servers that provide it, as you can recreate it using `SCRIPT_NAME`, `PATH_INFO`, and `QUERY_STRING`.

[2020-01-13 23:39] #1342 closed

[2020-01-14 05:55] gingerlime commented on #1432
Thanks @jeremyevans I tried to update rack to 2.1.1 but am still seeing an error accessing the sidekiq web console (using sidekiq 6.0.4 and rails 6.02.1, as well as upgrading redis-rack to 2.1.0 and redis-actionpack to 5.2.0)

![Screenshot 2020-01-14 at 12 36 15](https://user-images.githubusercontent.com/524274/72317096-c84cee00-36ca-11ea-87a4-24713183d006.png)

This is with redis-rack 2.0.6, howe

[2020-01-14 05:58] PikachuEXE commented on #1432
Actually `rack` `2.1.0 - 2.1.1` got another issue so I stay at `2.0.8`
And it seems (coz I haven't tested it) the issue is already fixed by https://github.com/rack/rack/commit/f690bb71425aa31d7b9b3113829af773950d8ab5
Which is not released yet

[2020-01-14 05:59] gingerlime commented on #1432
Thanks @PikachuEXE ! I can also confirm that 2.0.8 works.

[2020-01-14 07:18] #1266 closed

[2020-01-14 09:30] ioquatix commented on #1342
A couple of servers have standardised it and applications now depend on it... We might need to add it to the SPEC.

Sent from my phone.

[2020-01-14 09:41] ioquatix commented on #1342
@bryanp you originally raised this issue, if you believe it warrants adding to the SPEC, can you please make a PR for further discussion.

[2020-01-14 09:41] ioquatix commented on #1342
Also, as a counter point, if this is not added to the SPEC, do you believe I should remove it from Falcon to prevent confusion?

[2020-01-14 11:52] hanasuke opened #1482 "raise "wrong number of arguments(given 1, expected 0)" in Rack::Builder#use"
Hi.

I'm updating gems used by Sinatra app on Ruby 2.3.5.
After updated Sinatra from '1.4.7' to '2.0.7' and rack from '1.6.8' to '2.0.8', and run `bundle exec rspec`, I got results such as:
[code]
I think, the error raises from this line: https://github.com/rack/rack/blob/master/lib/rack/builder.rb#L102

Before updating these gems, I've never been get such errors.
Is this error related to this gem

[2020-01-14 16:13] jeremyevans commented on #1342
@ioquatix I don't think you should necessarily remove it from Falcon simply because it is not in SPEC.  Many webservers include env entries in addition to the ones required by SPEC.  SPEC is the minimally required env entries (and in some cases the behavior of those entries), webservers can provide additional entries as they see fit.

[2020-01-14 16:52] wagenet commented on #1239
It looks like Rack::Response no longer has `to_ary` so we can't rely on implicit destructuring.
https://github.com/rack/rack/commit/72959ebc2f300f3b2ccb7ae2aae9f199e611dfb6#diff-10b933d2c1fdc82ceecade456c64e1c2

[2020-01-14 16:53] wagenet commented on #1239
@tenderlove I'd appreciate your input here.

[2020-01-14 18:04] bryanp commented on #1342
I don't think it needs more discussion--the clarification was helpful though so thanks for the discussion! And I agree with @jeremyevans, leave it in Falcon.

[2020-01-14 20:07] jeremyevans commented on #1482
Can you please provide a minimal, self-contained example showing the problem, or a failing spec?

From the backtrace, the issue is the code is creating a new middleware with an argument (the next rack app to call), but the middleware's `new` method doesn't accept any arguments.  That sounds like a bug in the middleware implementation, as all middleware should have a `new` method that accepts at le

[2020-01-14 20:37] jeremyevans commented on #1472
In 2.0.8, the `Content-Length` response header is added in `Rack::Response#initialize` when it takes the body argument and writes to the internal body of the response.  In 2.1+, the body argument is used directly as the internal body of the response. This change was deliberate for performance, made in 8c62821f4a464858a6b6ca3c3966ec308d2bb53e.  The previous implementation updated the `Content-Lengt

[2020-01-14 20:46] jeremyevans commented on #1306
This appears to have been fixed by 78e837e4d0ef95bcf2dce8c38a1b411032240afa.

[2020-01-14 20:46] #1306 closed

[2020-01-14 20:52] jeremyevans commented on #1305
This test was removed in Rack 2.1.  Now, `Rack::Session::Memcache` is just an alias of `Rack::Session::Dalli` (implemented by the dalli gem).  I don't think we are going to want to fix spec-only issues for rack 2.0 and below unless they affected the common case, so I'm going to close this.

[2020-01-14 20:52] #1305 closed

[2020-01-14 20:56] jeremyevans commented on #1277
I think if we are planning on deprecating this in Rack 3, the warning should be emitted even in non-verbose mode at some point before Rack 3.  I'm not sure if that point is now, but the sooner the better in my opinion.  Since 2.1 has already been released, I think 2.2 (master) would be a good time to do that.

[2020-01-14 22:36] jeremyevans commented on #1269
I agree with @boazsegev , RFC 8187 is regarding header field parameter names, not header names.  Rack doesn't generally parse header fields into parameters, though there are exceptions such as `Accept`, `Cookie`, and probably others.  I couldn't find a case that explicitly would benefit from this support, though.

If there are specific cases in rack where you think this could be used, I think we w

[2020-01-14 22:36] #1269 closed

[2020-01-14 22:41] jeremyevans commented on #1245
@rafaelfranca fixed the README in 256ea3e20993076f9749fd17f6fd91f0ded0e1e7.  The gemspec has not been updated, though.  Do we want to update the gemspec to reflect the core team in the README?

[2020-01-14 23:00] jeremyevans commented on #1239
My reading of SPEC is that the response should be an instance of Array or instance of subclass of Array.  In cases in SPEC where any object that responds to a given method will work, the method is listed explicitly.  Examples:

[code]

I think either SPEC should be changed or Rack::Lint should be more strict.  My preference is the latter.  I'll submit a pull request to update Rack::Lint, and merge

[2020-01-14 23:38] ioquatix commented on #1342
If it’s not in the SPEC, some new server will miss it.

[2020-01-14 23:40] ioquatix commented on #1472
That’s a good summary. FYI, it wasn’t just for performance. It’s to avoid messing with bodies that don’t support `#each` like websockets.

[2020-01-14 23:45] lsirivong commented on #1472
👋 Hello, I'm seeing something similar which arises from building middleman projects:

Here's an example middleman project which fails to build when `activate :asset_host` config is used.

https://github.com/lsirivong/middleman-example

[code]

I've added another branch to that repo which downgrades to 2.0.8, which does not fail to build:

https://github.com/lsirivong/middleman-example/tree/rack-2.

[2020-01-14 23:49] jeremyevans commented on #1472
@lsirivong The relevant error line appears to be `Content-Length header was 1435, but should be 1485`.  This indicates middleman is calculating the content length incorrectly, probably using `String#size` instead of `String#bytesize` if I had to guess.  Looks like a bug in middleman that should be fixed by them, which was hidden by Rack::Responses's previous implementation.

[2020-01-14 23:54] bryanp commented on #1342
I don't think that matters much if `REQUEST_URI` isn't a concern of Rack. It's a sort of unofficial convention, you could say. There's an argument to be made that requiring `REQUEST_URI` would be useful to end users, but I'm not sure how best to navigate what could be useful from what Rack should ultimately be concerned about.

[2020-01-14 23:57] lsirivong commented on #1472
@jeremyevans thanks for the prompt response! I've posted an issue on the middleman repo.

[2020-01-15 00:04] jeremyevans commented on #1230
From my reading of RFC 2387, absent backwards compatibility issues, it probably does make more sense to treat `multipart/related` parts as files and not strings.  However, I'm not sure how many people are currently using `multipart/related`, and I don't think we would want to break their code.

If there is a way to make this backwards compatible and support the behavior you want as an option, I th

[2020-01-15 00:04] #1230 closed

[2020-01-15 00:06] jeremyevans commented on #1225
The NEWS.md file was removed at 68cc4e9f800e114689026fead4c4a3de371c03ba.

[2020-01-15 00:06] #1225 closed

[2020-01-15 00:17] jeremyevans commented on #1222
For more context from the SPEC:

[code]

This indicates to me that currently SPEC explicitly does not require the response headers be a hash.  However, I would guess that almost all middleware that accesses the response headers would break if the headers were not a hash, so SPEC should be changed, and Lint updated to check for it.  I'll submit a pull request for that.

While hash-like responses he

[2020-01-15 00:30] jeremyevans commented on #1212
Without giving `destroy` access to the response, I think the current behavior is best.  The problem with giving `destroy` access to the response is it couples the `Rack::Session::Abstract::Persisted` to `Rack::Response` (or something implementing a similar API).  I think this issue cannot be handled well by rack itself, and should be handled by a higher level web framework that can destroy the ses

[2020-01-15 00:30] #1212 closed

[2020-01-15 00:42] tenderlove commented on #1239
@jeremyevans I agree with your assessment. I will merge the Lint changes.

[2020-01-15 00:42] #1239 closed

[2020-01-15 19:03] #1206 closed

[2020-01-15 19:12] jeremyevans commented on #1205
I believe this is expected behavior.  When rack comes across the same key for a hash nested inside an array (`seq` in this case ), that's when it adds a new hash to the array as opposed to updating the current hash in the array.  Sorting the input breaks things in this case.  In general this isn't a problem as browsers will submit parameters in the order they appear on the form.

Personally, to av

[2020-01-15 19:12] #1205 closed

[2020-01-15 19:14] #1186 closed

[2020-01-15 19:26] jeremyevans commented on #1185
A PR for this seems reasonable, so please submit one if you would still like this behavior added.  We would probably want to use a keyword argument instead of a positional argument for this, I think.

Closing this now as it is not a bug in rack.

[2020-01-15 19:26] #1185 closed

[2020-01-15 19:45] jeremyevans commented on #1183
I believe rack should require that the query parameter string be binary (at least if it contains non-ASCII characters).  This is explicitly specified for request bodies in SPEC, and should probably be stated for `QUERY_STRING` as well (I'll submit a PR for that).  Query parameter strings should have all non-ASCII (and some ASCII) characters be URL encoded, so if your tests are including non-ASCII

[2020-01-15 21:04] jeremyevans commented on #1174
This doesn't appear to apply to current mod_xsendfile: https://github.com/nmaier/mod_xsendfile/blob/master/mod_xsendfile.c#L396-L397

Maybe it applied to an earlier version?  In any case, if a later server is taking the response returned by rack and setting a separate Content-Length header without removing the existing one, I think it is a bug in that server, and should be reported to that server'

[2020-01-15 21:04] #1174 closed

[2020-01-15 21:09] jeremyevans commented on #1159
This looks fixed in Puma.  If you would still like this feature added to Rack, please submit a pull request.  I don't consider this a bug in Rack, so I'm going to close this now.

[2020-01-15 21:09] #1159 closed

[2020-01-15 21:14] jeremyevans commented on #1155
This is a feature request and not a bug.  It looks like the desired behavior is already possible, just a little bit easier with #1157.  Let's continue any discussion of this on #1157.  Closing this as it is not a bug.

[2020-01-15 21:14] #1155 closed

[2020-01-16 01:14] jeremyevans commented on #1147
Looking at the history on this rescue, it dates back to 2008 (67a7507fb07c9d49bf4be4fc6c4fc4578f1673ac).  There is no explanation why it was added, though.  It seems reasonable that EOFError would only be raised after parsing the request body is finished.

Reading the `POST` method, it seems the `parse_multipart` call would be the only way to generate EOFError.  The most probable way to trigger th

[2020-01-16 18:51] jeremyevans commented on #1143
`Rack::HTTP_HOST` has been set since 131d9fdcc7cdd1d090f0905401abcc07e849740a.  Constant lookup of `HTTP_HOST` inside `Rack::Request::Helpers#host_with_port` should find `Rack::HTTP_HOST`.  I'm not sure if this is an issue with an old version of Sinatra, or related to Thin, but it doesn't appear to be a problem with Rack itself.  If you still believe this is a problem with Rack itself, please subm

[2020-01-16 18:51] #1143 closed

[2020-01-16 19:04] #1142 closed

[2020-01-16 20:02] jeremyevans commented on #1139
RFC 6265 (https://www.ietf.org/rfc/rfc6265.txt) does not specify the encoding of cookies.  There is no requirement that any escaping is done, or a specific format if escaping is done, only that certain characters not appear (presumably such characters would be escaped).

For cookie names, only that control characters and separators are excluded, with separators defined as:

[code]

For cookie valu

[2020-01-16 20:02] #1139 closed

[2020-01-16 20:14] jeremyevans commented on #1138
This could only affect cases where the password was empty and the authenticator treated `nil` as a empty password (which sounds like a bug in the authenticator).

Still, I think it does make sense to be more strict here (so that it returns 400 instead of 401 in most cases), though we should use an approach that does not parse the `params` twice.  I'll work on a pull request for it.

[2020-01-16 20:35] #1138 closed

[2020-01-16 20:46] jeremyevans commented on #1120
Now that rack supports Ruby 2.3+, it makes sense to implement `dig`.  I'll submit a pull request for it.

[2020-01-16 20:56] #1120 closed

[2020-01-16 21:05] jeremyevans commented on #1113
These days rack-test looks maintained (last commit 6 hours ago) and supports current versions of rack. rack-test is well suited for testing rack applications and I use it all the time.  I'm not sure how useful it is for testing rack itself, though.

The idea that rack-test would be documented better if included in rack implies rack is documented better than rack-test, and I'm not sure how true tha

[2020-01-16 21:05] #1113 closed

[2020-01-16 21:14] #1111 closed

[2020-01-16 22:55] jeremyevans commented on #1108
The example given here isn't failing, it's simply printing exceptions because it is run in debug mode. You get the same errors when requiring directly in debug mode:

[code]

Even if the output given, you can see the webserver still starts up and is listening:

[code]

[2020-01-16 22:55] #1108 closed

[2020-01-16 23:08] jeremyevans commented on #1101
This isn't a bug in Rack, it is a just how Rack parses arrays of hashes, appending a new hash to the array when coming across a key that already exists in the current hash.  If you have a an array of hashes that do not share a key, Rack cannot unambiguously parse that because it doesn't know when a new hash should be created. See #1205 for a similar issue.

[2020-01-16 23:08] #1101 closed

[2020-01-16 23:18] #1098 closed

[2020-01-16 23:20] jeremyevans commented on #1097
Changes are now described in `CHANGELOG`, which has been updated to describe what is new in Rack 2.0 and later.

[2020-01-16 23:20] #1097 closed

[2020-01-16 23:21] jeremyevans commented on #1092
The History file has been removed and replaced by the CHANGELOG.md file, which describes changes in released versions.

[2020-01-16 23:21] #1092 closed

[2020-01-16 23:34] jeremyevans commented on #1078
Defaulting to UTF-8 would break the use of Rack with other character sets, so it isn't possible.  The Rack SPEC requires request bodies be encoded in ASCII-8BIT, which is the reason the form parameter names are in ASCII-8BIT.

Starting in Rack 2, you can replace the query_parser used to more easily get custom behavior:

[code]

However, you should be prepared to handle the fallout in your applicat

[2020-01-16 23:34] #1078 closed

[2020-01-16 23:37] jeremyevans commented on #1076
This was a bug in rack-server-pages, fixed by: https://github.com/migrs/rack-server-pages/commit/b18129ce7d76085de009c616e5e0bef2119329b2

[2020-01-16 23:37] #1076 closed

[2020-01-16 23:41] jeremyevans commented on #1074
This isn't a bug in rack, it's just that older versions of sinatra stated they weren't compatible with rack 2 (even if they may have worked with it).  Current versions of sinatra support current versions of rack, so you would probably want to upgrade.

[2020-01-16 23:41] #1074 closed

[2020-01-17 00:19] jeremyevans commented on #1057
The line of code in question was removed in 360d374ab1a263fcf81a18d6e5ac74cccccbc7e9.  The test case provided currently parses fine, and Rack <1.3 is no longer supported.

[2020-01-17 00:19] #1057 closed

[2020-01-17 00:26] jeremyevans commented on #1039
This works correctly in current rack.  There is no cookie-specific test for it, but I will add one.

[2020-01-17 00:27] #1039 closed

[2020-01-17 02:10] jeremyevans commented on #991
I agree, this is a bug in Rack::ShowExceptions.  I'll submit a pull request to fix it.

[2020-01-17 02:16] #991 closed

[2020-01-17 16:20] Qqwy commented on #1098
@jeremyevans Could you deliberate why this issue was closed? Is it maybe fixed in the documentation, or is there a reason why it will not be fixed? Thank you! :slightly_smiling_face:

[2020-01-17 16:28] jeremyevans commented on #1098
GitHub links to the commit that closed this: https://github.com/rack/rack/commit/da8b4ef8781da9cb913a1395814afa615a58d527

Not sure if that shows up in the email GitHub sends, but if not that sounds like something GitHub should fix.

[2020-01-17 16:44] Qqwy commented on #1098
Apologies, I totally missed that the closing notification in the thread pointed to a commit.
My mistake :sweat:.

Thank you very much for fixing this!

[2020-01-17 17:27] #984 closed

[2020-01-17 17:58] jeremyevans commented on #970
Rack is still setting `HTTP_VERSION` in the environment in all handlers.  Unicorn sets it and ignores any `Version` request header submitted.  I'm guessing there are some middleware that are relying on `HTTP_VERSION` instead of using `SERVER_PROTOCOL`.  So this becomes a case of whether the backwards compatibility breakage is worth adding support for the `Version` request header.  I don't have a s

[2020-01-17 20:01] jeremyevans commented on #946
I agree that this feature makes sense to add as an option.  Since it operates similarly to `Rack::Cascade`, I think `:cascade` is a good option name for it.  I'll submit a pull request for that.

[2020-01-17 20:05] #946 closed

[2020-01-17 20:10] edmorley commented on #946
@jeremyevans Thank you :-)

[2020-01-17 20:12] jeremyevans commented on #939
rackup's `--option` option sets server options, not application options.  You should only be accessing these options if you are writing your own handler.  The options are passed to `Rack::Handler::$HANDLER.run`.  For example, in the webrick handler, the options are passed to `::WEBrick::HTTPServer.new`

[2020-01-17 20:12] #939 closed

[2020-01-17 20:21] jeremyevans commented on #914
I don't think the need for this is common enough to support in rack itself.  You can probably hack your way around this (untested):

[code]

[2020-01-17 20:21] #914 closed

[2020-01-17 20:28] jeremyevans commented on #906
Since the need for this seems fairly limited, and there is already an existing (if suboptimal) workaround, I'm going to close this (it's not a bug in rack).

I think it should be possible to support this using an external rack middleware.  If you think changes to rack itself are needed, that could not be accomplished via a middleware, please submit a pull request.

[2020-01-17 20:28] #906 closed

[2020-01-17 20:33] jeremyevans commented on #864
Rack now uses `httpdate` instead of `gmtime`/`rfc2822`, and works with both `Time` and `DateTime` instances, so this can be closed.

[2020-01-17 20:33] #864 closed

[2020-01-17 20:39] jeremyevans commented on #821
I think it makes sense not to clobber `:BindAddress` if it is already set and `:Host` is not set.  I'll submit a pull request for that.

[2020-01-17 20:42] #1020 closed

[2020-01-17 20:44] #821 closed

[2020-01-17 20:47] #1028 closed

[2020-01-17 21:21] jeremyevans commented on #792
RFC 3986 does indicate that `[` and `]` should not appear in query strings, as they are gen-delims and not sub-delims. I think it makes sense to escape them. I'll submit a pull request for it, but I'll definitely want another core team member to review and determine if we want to make this change.

[2020-01-17 21:32] jeremyevans commented on #787
RFC 7230 section 3.3 states that 204 responses should not have a request body and that `Content-Length` header indicates there is a request body.  So I think the the Rack SPEC/Lint is correct to complain if you have a 204 response with a `Content-Length`.

It doesn't specifically talk about `Content-Type`, but if there is no body, I don't think a `Content-Type` (which describes the type of content

[2020-01-17 21:32] #787 closed

[2020-01-17 23:44] jeremyevans commented on #768
The first example in the original post is now handled correctly by rack:

[code]

The second case still is not parsed correctly.  Here's a simplified case:

[code]

The truth is that Rack cannot parse multiple nested arrays unambiguously:

[code]

This is a limitation on the format of submitted parameters.  You should try to avoid having rack parse arrays of anything except scalars.  For more adva

[2020-01-17 23:44] #768 closed

[2020-01-18 00:00] jeremyevans commented on #764
I think if we want to treat the content as ISO-8859-1 by default, we would have to implement support for RFC 2047 encoding parsing.  Considering that new header fields should be limited to ASCII per RFC 7230, there isn't a strong web standards reason to do this, and demand for this feature appears limited.

Doing this would allow an attacker to pick any encodings supported by Ruby and force them t

[2020-01-18 00:07] jeremyevans commented on #761
Removing the rescue inside `params` still results in a passing test suite.  I think the only time this would break things would be a POST request submitted without a body, which legitimately sounds like a situation that should raise.  Can any core team members think of a reason we would want to rescue EOFError inside `params`?

[2020-01-18 00:11] jeremyevans commented on #752
I think was fixed in Rack::Request in 606421394d9e62936d18a4b6aab149cff0bb0f19 by using `==` instead of `equal?`.  If you still think this is a problem in rack, please submit a failing test or minimal self contained example that does not use any other libraries.

[2020-01-18 00:11] #752 closed

[2020-01-18 00:21] jeremyevans commented on #745
This change seems reasonable to me.  Thin::Controllers::Controller seems supported since Thin 0.7.0, and I'm sure we don't care about supporting anything older than that.

The only issue with this is that Thin::Controllers::Controller doesn't accept a block, so we'd still need to keep the current approach if a block is passed.  I don't think doing that is a problem though.

I'll submit a pull requ

[2020-01-18 00:31] #745 closed

[2020-01-18 02:21] jeremyevans commented on #738
Do we still want to do anything about this?  #1325 was merged and improved performance somewhat, but I'm not sure how much.

One possible approach that isn't perfect but may work for the middleware:

* Remove use of HeaderHash where it is currently used in middleware
* Replace `[]` and `delete` calls on the header hash with `Utils` functions that try the following keys in order:
  * Lookup Expecte

[2020-01-18 19:04] jeremyevans commented on #732
So it seems this issue is related to how Rack::CommonLogger's logger object (which is passed as an argument) handles encoded data.  That doesn't seem to be a bug in Rack itself, and I don't think Rack::CommonLogger can fix the issue, because it can only assume the logger object supports `write` or `<<`.

I think Rack's SPEC's handling of encoding (treating input as binary, since you don't know the

[2020-01-18 19:04] #732 closed

[2020-01-18 19:08] jeremyevans commented on #735
Starting in 2.1.0, you can use `Rack::Request.ip_filter=` to override the trusted proxies, you no longer need to monkey patch Rack.  This is the related commit: 906c8c04a049de14042f289ffe46ed45978f2e9b

[2020-01-18 19:08] #735 closed

[2020-01-18 23:16] schneems commented on #738
I’m not at a computer right now so reviewing your code is not super easy.

I think my open question is if these optimizations are still measurably better or not. I’ve made a lot of improvements in the ability to measure library performance differences with

https://github.com/schneems/derailed_benchmarks/blob/master/README.md#i-made-a-patch-to-to-rails-how-can-i-tell-if-it-made-my-rails-app-faster

[2020-01-20 04:05] kannans5 commented on #1432
I am also experiencing the same issue with sidekiq web console. I am seeing the rack gem only in my Gemfile.lock, how do I pin this version 2.0.8 in my Gemfile.lock?

[2020-01-20 14:47] JF-Lalonde commented on #1432
@kannans5 You'll want to delete your Gemfile.lock and specify the rack version in your Gemfile.
Putting something like this in your Gemfile will "pin" the version to 2.0.8
[code]
Then just run `bundle install` to generate an updated Gemfile.lock and you should be good to go!

[2020-01-20 14:55] yourivdlans commented on #1432
I'd advise anyone against removing their `Gemfile.lock` as running `bundle install` afterwards could update gems you don't want updated.

Rather lock the gem like @JF-Lalonde is suggesting and run `bundle update rack`.

[2020-01-20 16:40] JF-Lalonde commented on #1432
@yourivdlans Thanks for the clarification; I was blindly making the assumption that the other gems in the Gemfile had version constraints to prevent unwanted updates. I'm sure that's not the case for many people.

[2020-01-20 16:42] myxoh opened #1503 "Prevent SameSite=None header if the browser will fail to parse it"
Recently Rack introduced the ability to set the flag: `same_site: none`

https://github.com/rack/rack/pull/1358

As part of the discussion https://github.com/bnorton shared a gist  https://gist.github.com/bnorton/7dee72023787f367c48b3f5c2d71540f based on the rules and guidelines of the Chromium team => https://www.chromium.org/updates/same-site/incompatible-clients

I believe we should upstream th

[2020-01-20 17:05] rafaelfranca commented on #1503
It is not responsibility of Rack to deal with browser compatibility. If the developer set the option, rack should send it. The application that should be checking if the option should be set or not.

[2020-01-20 17:05] #1503 closed

[2020-01-21 16:50] mikebaldry opened #1504 "Sidekiq UI broken moving between 2.0.8 and 2.1.1"
I'm not giving much to go on here, I realise, but this issue being present may help someone else with the same issue.

I'm not sure exactly what caused the issue, but it wasn't consistent -
- worked locally (puma)
- worked on staging (puma, heroku, cedar-18)
- Rendered some part of the Sidekiq UI html, but the response ended some way through the body tag on production (puma, heroku, cedar-18). It

[2020-01-21 19:29] natematykiewicz commented on #1504
https://github.com/rack/rack/pull/1428

They've yet to release a version 2.1.2 that includes the fix, though.

[2020-01-21 23:57] ioquatix commented on #764
I didn’t know about this but the encoding for fields like headers should be well defined and documented even if different from the RFCs... probably the newer RFCs should be considered normative.

[2020-01-22 00:04] ioquatix commented on #764
also I would like to follow whatever standard we come up with in my own header parser which is different from rack.

[2020-01-22 01:25] jeremyevans commented on #1482
I'm going to close this now.  If you can provide more information, we can consider reopening.

[2020-01-22 01:25] #1482 closed

[2020-01-22 01:27] jeremyevans commented on #1406
@ioquatix regarding that test issue, see #1305.

[2020-01-22 01:28] #1235 closed

[2020-01-22 18:40] lmansur commented on #1504
I'm referencing 75d178cd76a6d6444c1865b4c5ab189e86ae4e35 (`2-1-stable`) in my Gemfile, which includes #1428, but my Sidekiq UI is all blank.

[2020-01-22 19:57] jeremyevans commented on #1308
Fixed by #1309

[2020-01-22 19:57] #1308 closed

[2020-01-22 20:04] jeremyevans commented on #1504
75d178c should have the fix, backported as c42351006b0b7f92c99da8153dbc034673c76954.  Until 2.1.2 is released, you should probably either use 2.0.8 or 2-1-stable.  I hope we can get a 2.1.2 release soon, I'll try to work on preparations.

@lmansur If it works locally and not on a Heroku, it's probably not a bug in rack, but in issue with your Heroku setup.

Closing as this has already been fixed a

[2020-01-22 20:04] #1504 closed

[2020-01-22 20:22] #1472 closed

[2020-01-22 20:25] jeremyevans commented on #1415
As this isn't a bug (even if changing the behavior could be useful), I'm going to close this. Let's continue the discussion in #1416.

[2020-01-22 20:25] #1415 closed

[2020-01-22 20:33] jeremyevans commented on #1390
Closing as this doesn't appear to be a bug in rack, it appears to be expected behavior.  We could potentially add a middleware that parses query parameters (and body if applicable) and returns a client error result for invalid parameters, but that's a new feature.  Please submit a pull request if you think that would be helpful.

[2020-01-22 20:33] #1390 closed

[2020-01-22 20:38] jeremyevans commented on #1310
This isn't a bug in rack, but a feature request, so I'm going to close this now.  Let's continue the discussion in #1423.

[2020-01-22 20:38] #1310 closed

[2020-01-22 20:43] #1147 closed

[2020-01-22 21:11] jeremyevans commented on #734
`Rack::Response#to_ary` was removed in 72959ebc2f300f3b2ccb7ae2aae9f199e611dfb6, so I think we can remove the `to_ary` check, which seems simpler than the approach in #895.   I'll submit a pull request for that.

[2020-01-22 21:14] #734 closed

[2020-01-22 21:35] streetlogics opened #1510 "Latest rack (>= 2.0.8) upgrade when used alongside latest devise + mongoid + mongo_session_store + sidekiq UI throws error"
I originally filed this bug with the mongoid team (https://jira.mongodb.org/browse/RUBY-2095), but after doing some digging and back and forth with them, we're realizing that the issue may be coming from rack.  Here's a quick snippet from the ticket:

[44, 53] in /home/w/.rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/mongo_session_store-3.2.0/lib/mongo_session_store/mongo_store_base.rb

[code]

[2020-01-22 21:41] streetlogics commented on #1510
https://github.com/mongoid/mongo_session_store/pull/43 - this is the PR in the mongo_session_store repo for reference

[2020-01-22 22:18] jeremyevans commented on #1510
Does mongo_session_store work with Rack 2-0-stable branch?  There was a fix to this issue that has already been backported to 2-0-stable.  If so we may want to consider a 2.0.9 release.

[2020-01-22 22:54] streetlogics commented on #1510
I just tried updating the example project (https://jira.mongodb.org/secure/attachment/243898/243898_RUBY-2095-sidekiq-issue-monkey-patched.zip) to use:

[code]

And without the monkey patch (aka: the `to_s` on session id), the error ```undefined method `bson_type' for #<Rack::Session::SessionId:0x00007fe412b85a08>``` still gets thrown

[2020-01-22 23:06] jeremyevans commented on #1510
The session id is now a `Rack::Session::SessionId` object instead of a string (by design), so if you are defining `String#bson_type` and expecting that to affect `Rack::Session::SessionId`, you'll need to adapt to the changes and define `Rack::Session::SessionId#bson_type` to call `public_id.bson_type` if `Rack::Session::SessionId`  is defined.  Can you try that and see if it fixes things with 2-0

[2020-01-22 23:46] jeremyevans commented on #629
As the Unicorn approach shows, rack supports Expect/Continue fine, it just requires servers to call back into Rack after the 100 response is sent to the client.  With Unicorn's approach, the same environment is reused, just the HTTP_EXPECT entry is deleted, which should allow for state handling via the environment.  The first request can set the state in the request environment, which will be pres

[2020-01-22 23:46] #629 closed

[2020-01-23 00:02] jeremyevans commented on #461
I agree with @raggi that `rack.session` needs to implement `to_hash`.  Effectively this is required by rack's current session support, so it should be added to SPEC/Lint.  I'll submit a pull request for this.

[2020-01-23 00:21] streetlogics commented on #1510
I put this in an initializer in my local repo and it worked:
[code]

[2020-01-23 00:32] jeremyevans commented on #1510
OK.  I think that means this can be closed as it isn't a bug in Rack.

[2020-01-23 00:32] #1510 closed

[2020-01-23 00:43] jeremyevans commented on #764
@ioquatix My proposal for this is to require binary encoding for header fields with non-ASCII characters, see #1488

[2020-01-23 00:57] raggi commented on #629
Sorry for the flyby comment but maybe this should get added to SPEC?

On Wed, Jan 22, 2020, 3:46 PM Jeremy Evans <notifications@github.com> wrote:

[2020-01-23 02:12] jeremyevans commented on #629
We could probably add something to SPEC, but I don't think we could enforce this with Lint, since Lint does not address this behavior.

[2020-01-23 02:45] ioquatix commented on #629
@raggi pleasd make a PR if you have some concrete ideas.

[2020-01-23 09:16] mikebaldry commented on #1504
Is that the same issue? The symptoms (`undefined method 'transform_keys'`) is not what I experienced above. It could be that which is causing it to stop outputting correctly, I guess, but I wasn't able to see this error anywhere.

[2020-01-23 16:22] jeremyevans commented on #1504
@mikebaldry Can you try the 2-1-stable branch and see if that fixes the issue for you?  If not, it may be a different issue.

[2020-01-23 16:29] natematykiewicz commented on #1504
Sorry that I led you astray. I saw "Sidekiq" and made assumptions.

[2020-01-23 21:03] #1183 closed

[2020-01-23 22:44] ioquatix commented on #738
I think we can also avoid using `HeaderHash` in the vast majority of cases with `Rack::Response` by simply passing `@headers` through unchanged. This would avoid a lot of pointless busy work when using `Rack::Response`.

[2020-01-23 22:54] jeremyevans commented on #738
@ioquatix do you mean lazily instantiating the `HeaderHash` instance as needed?  I don't think you can get rid of it completely and maintain backwards compatibility.

[2020-01-23 22:54] ioquatix commented on #738
Ah, you mean because it's exposed via `#headers`?

[2020-01-23 23:21] jeremyevans commented on #738
And related methods: `has_header?`, `get_header`, `set_header`, `delete_header`, `[]`, `[]=`

Check the specs regarding the behavior.  I looked into removing `HeaderHash` from `Response` while working on the branch I linked above, and could not find a way to make it backwards compatible.

[2020-01-23 23:24] ioquatix commented on #738
Agreed.

Another potential optimisation: If headers are assumed to be mutable, we should just detect if `headers` is already an instance of `HeaderHash` and reuse it.

[2020-01-23 23:29] #461 closed

[2020-01-23 23:30] jeremyevans commented on #738
That does seem like a good idea. We would probably want a new API for that, maybe something like `Utils::HeaderHash.convert(hash)`, or `Utils::HeaderHash(hash)` (similar to Kernel-style conversion methods).  We could then switch all middleware to use that, and then you pay the conversion cost only once instead of once per middleware.  Maybe then we don't need to worry as much regarding performance

[2020-01-24 01:38] hiroshi commented on #1432
Hi, I just want to share our situation.
Our production rails app needs `SameSite=None` cookie, but it require rack 2.1.0 or above;
https://github.com/rack/rack/blob/master/CHANGELOG.md#210---2020-01-10
Also it is using sidekiq, so I want to avoid from 2.0.8 to 2.1.1.

Chrome 80 regards SameSite=Lax as default;
https://www.chromium.org/updates/same-site
and will be released in Feb 4;
https://www.ch

[2020-01-24 04:20] ioquatix commented on #738
@jeremyevans Yeah, I've done stuff like that before. Normally I prefer something like `HeaderHash.[]` simply because it hangs off the same namespace as the class rather than a method (e.g. Rack::HeaderHash()`) in the parent module.

[2020-01-25 06:45] Shleeble commented on #1504
There is a breaking change. Can we push 2.1.2 sooner than later?

[2020-01-25 06:49] kjanoudi opened #1520 "Rack > 2.0.8 [400-499] Response Body Empty"
For any error from 400, 401, 404, etc, the response body received is empty. The curious thing is that curl seems to return a response, but Postman, chrome browser, etc do not.

![image](https://user-images.githubusercontent.com/4011484/73117524-deea1500-3f14-11ea-8243-c05348ecc8ca.png)

[2020-01-26 16:24] cybershambles opened #1522 "Sidekiq is still broken after more than a month?"
The issue is fixed in master. Please release 2.1.2

[2020-01-26 21:13] ioquatix commented on #1520
That’s strange can you give a small repro?

[2020-01-26 22:42] gueorgui opened #1523 "Use Rack::Static to mount a directory outside of the project directory"
I'm building a Rails Engine that includes some assets built through Webpacker, and I'm following [the Webpacker documentation](https://github.com/rails/webpacker/blob/master/docs/engines.md#use-a-separate-middleware) on this.

I would like to distribute this engine as a gem, and to serve the engine's assets directly from the engine's gem, through a `Rack::Static` middleware in the host application

[2020-01-27 01:35] ioquatix commented on #1523
It seems like it should work. How is the root directory computed in the `Rack::Static` implementation.

[2020-01-27 11:23] kaoru commented on #1522
My sidekiq-web is broken, but I tried upgrading to master (01556901e519159982c28a8511b18ffb22f0454d) and it was still broken but with a different error message.

I think it might be because we recently switched over to using https://github.com/rails/activerecord-session_store for our session storage?

**2.1.1**

[code]

------------------

**master** (01556901e519159982c28a8511b18ffb22f0454d)

[co

[2020-01-27 13:55] Shleeble commented on #1522
The issue you're having is different that I am.. but transform_keys was raised in this issue #1504 that was closed.

@jeremyevans, this looks like confirmation that master is still broken for this issue.

[2020-01-27 15:24] jeremyevans commented on #1522
The issue on master mentioned by @kaoru probably needs to be fixed in activerecord-session-store.  It should now store and lookup the `private_id` of the session_id object in the database.  The previous way of looking up the session directly using the session_id is prone to a timing attack, which is the reason rack's API was changed.

[2020-01-27 16:19] gueorgui commented on #1523
It also seems like it should work to me. `Rack::Static`'s constructor initializes a file server by passing the root path it receives to `Rack::Files`, which in turn expands the path with `File.expand_path` to get a full absolute path.

Could it be the Rails web server (eg Puma) applying some restrictions so that content outside of the Rails app directory cannot be served?

[2020-01-27 16:28] Shleeble commented on #1522
Yikes. Was that coordinated with the Rails team in any way?

[2020-01-27 16:41] kaoru commented on #1522
Cool, thanks folks! I'll move my comments over to https://github.com/rails/activerecord-session_store/issues/154 👍

[2020-01-27 23:00] jeremyevans commented on #1522
2.1.2 has been released.

[2020-01-27 23:00] #1522 closed

[2020-01-27 23:07] jeremyevans commented on #764
#1488 was merged, so CGI values in environment now must be binary.

[2020-01-27 23:07] #764 closed

[2020-01-27 23:51] JohnBDonner opened #1530 "Error installing rack 2.1.2"
I was just setting up a brand new rails 6 project and got this while running bundle install:
[code]
So...
[code]
Fixing my rack version to `2.1.1` allows the gem to be installed.

This is my environment:
Mac OS Mojave (10.14.6)
[code]

[2020-01-28 01:50] jeremyevans commented on #1530
Works fine in my environment (OpenBSD amd64) with ruby 2.6.5.  Is anyone else on Mac OS experiencing this issue?  If so, which Mac OS version are you using?

[2020-01-28 02:47] Shleeble commented on #1522
Thanks @jeremyevans, I'll test and confirm :)

[2020-01-28 08:37] lizdeika commented on #1522
2.1.2 is broken too, no need to close the issue

[2020-01-28 08:40] lizdeika opened #1531 "rack 2.1.2 broken sidekiq"
For some reason original issues are closed

https://github.com/rack/rack/issues/1504
https://github.com/rack/rack/issues/1510
https://github.com/rack/rack/issues/1522

[2020-01-28 08:45] giedriusr commented on #1531
Indeed, why these issues were closed if the bug hasn't been fixed?

[2020-01-28 14:29] StinkySteve opened #1532 "session_abstract_id.rb `stringify_keys' breaks when using devise, rspec and rails-controller-testing"
I'm not sure it should be reported here but bumping rack seems to have caused it.

Everything works fine with rack 2.0.8.

Rack 2.1.2
[code]

Rack 2.1.0
[code]

[2020-01-28 15:01] tanelsuurhans commented on #1472
I am running into a similar issue with a Rails 5.1.7 app where nginx keeps complaining that the Content-Length from upstream is off, and the header is also not delivered to the client at all.

@jeremyevans do I understand correctly that we should then be applying the Rack::ContentLength middleware manually?

[2020-01-28 15:13] jeremyevans commented on #1531
Please post the actual error you are receiving, with a full backtrace.

#1504 was reported to work locally with 2-1-stable, so presumably 2.1.2 should work.

#1510 was an issue with mongo_session_store, not Sidekiq, and needs fixes in mongo_session_store.

#1522 was an issue with activerecord-session_store, not Sidekiq, and needs fixes in activerecord-session_store.

[2020-01-28 15:20] tanelsuurhans commented on #1504
We are seeing the same thing in a Rails 5.1.7 app using Unicorn. Works locally, works in lower environments, but cuts off content on longer pages in production consistently.  Errors are always accompanied by this error in nginx logs "upstream sent more data than specified in "Content-Length" header while reading upstream".

When on 2.1.1, the errors were abundant in the logs. After updating to 2.1

[2020-01-28 15:28] jeremyevans commented on #1532
`transform_keys` in 2.1.2 is called on the result of `to_hash` (https://github.com/rack/rack/blob/2.1.2/lib/rack/session/abstract/id.rb#L204).  Do you have a rack.session object that responds to `to_hash` but does not return a hash?  That violates rack's SPEC.

[2020-01-28 15:31] jeremyevans commented on #1472
If your application does not correctly calculate the Content-Length header when returning the response array, the easiest fix is using Rack::ContentLength.

[2020-01-28 15:32] jeremyevans commented on #1504
@tanelsuurhans If your application does not correctly calculate the Content-Length header when returning the response array, the easiest fix is using the Rack::ContentLength middleware.

[2020-01-28 16:24] tanelsuurhans commented on #1504
I plugged in Rack::ContentLength to our Rails app and it still keeps showing the same error. I keep circling around the ContentLength and Chunked middlewares (as there are changes related to both), but I can't really pinpoint what the problem might be.

[2020-01-28 16:29] jeremyevans commented on #1504
Looking at Rack::ContentLength, it doesn't replace an existing Content-Length header, so if you have one that is wrong, you need to remove it in a middleware before Rack::ContentLength handles the response.

Note that the correct (though maybe more difficult) fix is to fix the application to use the correct content length.

[2020-01-28 16:46] tanelsuurhans commented on #1504
When using 2.1.1 I run into this only seemingly with responses that use `Transfer-Encoding: chunked`, leading me to believe that maybe there is something in Rails 5.1.x specifically that does not play well with the newer Rack version.

My best guess right now is that Rack fixing issues where stuff "worked" when it should not have has exposed another upstream issues in Rails itself - but I am defin

[2020-01-28 16:59] jeremyevans commented on #1504
`Transfer-Encoding: chunked` responses should not use `Content-Length`, per RFC 7230 Section 3.3.2.  You could try deleting the `Content-Length` header for responses with `Transfer-Encoding`, and see if that fixes the issue.

[2020-01-28 18:14] Lewiscowles1986 opened #1534 "Symbols missing"
In looking to update capybara, we get a new Rack version. For some unknown reason this results in rack internals we are using not working

https://github.com/rack/rack/compare/2.0.8...2.1.1

* https://github.com/rack/rack/blob/b40583b4abfd6d16381308ed421a4751562fa91d/lib/rack/utils.rb#L560
* https://github.com/rack/rack/blob/799a520a015de5938bc01faa8e90b76589c6e7d3/lib/rack/utils.rb#L566

I believ

[2020-01-28 18:22] Lewiscowles1986 commented on #1534
I experimenting with reverting

[code]

[2020-01-28 18:25] jeremyevans commented on #1534
`Rack::Utils::SYMBOL_TO_STATUS_CODE[:error]` doesn't exist (`:internal_server_error` instead of `:error` should work).  `:bad_request` should work, though.

Can you please submit a failing test or a minimal self contained example showing the error?

[2020-01-28 19:05] Lewiscowles1986 commented on #1534
Looks like it's [this](https://github.com/rack/rack/pull/1034) and I've misunderstood the original PR comment on our internal repo... Leading to the erroneous conclusion none of the statuses work.

[2020-01-28 19:05] #1534 closed

[2020-01-28 21:32] tanelsuurhans commented on #1504
Additional data point to add is I only see this behavior when the response size hits 20KB - it then gets truncated and does not render correctly. That explains the difference between environments in our case, and why it was initially showing same behavior in all of them.

All being said, I have narrowed it down to `Rack::Response` changes between 2.0.x and 2.1.x and currently trying to go through

[2020-01-28 22:07] StinkySteve commented on #1532
I might have to clarify that it breaks in rspec only!

Its just an array. I agree that this seems kind of odd but it used to work fine with 2.0.8. I agree that it seems like undocumented behaviour.
I guess the `other` argument comes from warden or rails_controller_testing. I'll look into it and close this issue on my way out.

[2020-01-29 10:33] zakihaya commented on #1531
I updated only rack, and I could not open sidekiq UI with error below.

[code]

Updating `redis-rack` gem, I can open Sidekiq UI.

[code]

@lizdeika How about update gems other than sidekiq?

[2020-01-29 13:45] andreas-sotnik-2k19 commented on #1520
@kjanoudi @ioquatix

I have the same issue in several of my apps after I updated rack version in my Gemfile.

In logs I see something like:

![Screenshot 2020-01-29 at 15 32 10](https://user-images.githubusercontent.com/47086665/73360932-959b1c00-42ac-11ea-9838-b5ea6e08f61e.png)

and

![Screenshot 2020-01-29 at 15 36 15](https://user-images.githubusercontent.com/47086665/73361181-1a863580-42ad-11e

[2020-01-29 14:47] mikegee commented on #1531
@zakihaya that looks like a full backtrace, but it doesn't include the error

[2020-01-29 14:54] jeremyevans commented on #1531
Considering that the error is in `interpolate` in redis-store, it's probably the same issue that mongo_session_store and activerecord-session_store has, and apparently it has already been fixed upstream, since updating redis-rack fixes the issue.

[2020-01-29 15:35] tanelsuurhans commented on #1504
I believe I have now found the root cause for the issue we are seeing.
* Nginx is reporting that the app server is sending more content than the Content-Length header indicates and with larger responses it gets truncated
* I added a debugging middleware at the very top of the call stack, which shows that the Content-Length header and the actual content size differ
* I traced this difference down t

[2020-01-29 15:41] caifara commented on #1520
In (all) versions of Rack > 2.0.8 (tested until 2.1.2) we have some (activeadmin) pages rendering incomplete html.

The response object contains the complete expected html, but the response in the browser shows incomplete html mid-tag. Example:

[code]

[2020-01-29 16:03] jeremyevans commented on #1504
@tanelsuurhans Thanks for doing the research on that.  Sounds like NewRelic RPM needs to be updated.

[2020-01-29 16:07] jeremyevans commented on #1520
@caifara It sounds like you have an application that sets the Content-Length header incorrectly, which is a bug in the application.  Previously Rack::Response would end up overwriting the Content-Length header, but now it does not, so the bug in the application is now exposed.  You should fix the application to set the Content-Length header correctly. I'm not 100% sure that is the issue, but based

[2020-01-29 16:12] tanelsuurhans commented on #1504
Well... Unless I'm missing something, I would have to personally disagree. The interface for `Rack::Response.new` seems to clearly indicate you can pass in a response body, and the documentation only says to call `finish` before returning from your app. Neither of these actually calculate and set the `Content-Length` header, resulting in a scenario like I ran into to. The documentation also does n

[2020-01-29 16:20] jeremyevans commented on #1504
My expectation is if you provide a Content-Length header with a Rack::Response, Rack::Response should use it and not overwrite it.  I don't think Rack::Response should be assuming you provided incorrect information and ignore the header passed in.

There is a downside of having Rack::Response operate the way it did previously.  The first thing to understand is that the previous behavior was not by

[2020-01-29 16:23] kjanoudi commented on #1520
I'm not sure but it doesn't sound like any of the three issues mentioned here are directly related. However,  i know i was never setting the content-length header manually on my responses. I will try to get a way to reproduce it set up in the next week or two

[2020-01-29 16:25] tanelsuurhans commented on #1504
I hear what you are saying. So the options for using `Rack::Response` are either measuring the size of the content you are trying to "initialize", and pass in the body along with the correct headers. Or initialize an empty `Rack::Response` and call `response.write(body)` to have it handle both initialization and setting the headers as applicable?

At the very least it might make sense to raise awa

[2020-01-29 16:53] jeremyevans commented on #1504
I 100% agree we need more documentation.  Not just for Rack::Response, but many other parts of rack as well.  It's something I plan to work on.

[2020-01-29 21:49] nickjer commented on #1531
This is what I am seeing:

[code]

when I try to access a sidekiq endpoint.

[2020-01-30 00:55] ioquatix commented on #1504
@tanelsuurhans if you think there is some way to improve the situation in terms of documentation please make a PR.

[2020-01-30 15:16] jeremyevans commented on #1523
It certainly appears more likely the problem is external to Rack, though I'm not sure where. Since it doesn't appear this is a bug in Rack::Static, I'm going to close this now. If you can discover the root cause of the issue and think it is a bug in Rack, please post more details and we can reopen.

[2020-01-30 15:16] #1523 closed

[2020-01-31 03:02] mikegee commented on #1530
I can't duplicate on Mac OS X Mojave.
[code]

[2020-01-31 03:21] cycomachead commented on #1534
I don't necessarily have a problem with this change, but I do wish this would have been called out in the changelog a bit more clearly. IMO, it's a breaking change -- regardless of any semver talk, it would have been helpful if the change mentioned that rack will just blowup now. We seem to use `status: :error` in our app, which I don't really know the origins of. Easy enough to fix, but also brea

[2020-01-31 03:33] jeremyevans commented on #1534
@cycomachead This appears to be documented clearly in the changelog:

[code]

It's a bug fix, IMO.  Unfortunately, all bug fixes are incompatibilities.

[2020-02-03 10:54] ioquatix opened #1546 "Managing environments."
`RACK_ENV` as a variable has many confusing use cases, and many of them don't completely align up.

- In some cases, it's used to configure the middleware in `config.ru`. Value include `:test`, `:development`, and `:production`. Frameworks are migrating to use `APP_ENV` instead.
- In `Rack::Server` it's used to control the default middleware. Values include `:development` and `:deployment`.

I pro

[2020-02-03 11:03] ioquatix commented on #1546
One more question I have, I was looking at the default middleware.

[code]

- `Rack::ContentLength`. The changes to `Rack::Response` revealed that many users are unable to set the `content-length` header correctly. That was surprising. We have `Rack::ContentLength` but IMHO it should be deprecated and removed. It's a bad idea and encourages inefficient code.

- `Rack::TempfileReaper`. I don't unde

[2020-02-03 11:27] ioquatix commented on #1546
Here is an example of part of one of my own `config.ru` files:

[code]

Interestingly enough, we could actually `def RACK_ENV` in builder and have it do something useful to mitigate this specific issue, but I've also seen `RACK_ENV` deeply embedded into application frameworks.

[2020-02-03 11:41] ioquatix commented on #1546
What's even more crazy, is that puma includes an entire copy of `Rack::Builder`: https://github.com/puma/puma/blob/master/lib/puma/configuration.rb

[2020-02-03 17:02] jeremyevans commented on #1546
Going over the various proposals in this issue:

* Add `Rack::Builder#environment?`

This seems fine to me.  However, we should definitely keep backwards compatibility and continue to use `RACK_ENV` everywhere it is currently used. `case ENV['RACK_ENV']` should remain a way to configure applications based on environments.

* Add `Rack::Handler.load_app`

I don't see the benefits of this, but I als

[2020-02-03 21:36] ioquatix commented on #1546
Thanks for your feedback.

Given that none of the middleware is strictly required, I think we should just remove all of them. The on the specific things that require lint, e.g. `rack-test`, they can build the middleware appropriately.

Thanks for explaining about `TempfileReaper`, since I didn't know about it. That being said, I don't think any production server is actually using it.

Regarding th

[2020-02-03 21:37] ioquatix commented on #970
Moving this to v3.0.0 milestone.

[2020-02-03 21:43] ioquatix commented on #1530
@JohnBDonner  can you try deleting the cache `/Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/cache/rack-2.1.2.gem` and try again?

[2020-02-03 21:44] ioquatix commented on #1531
Repeating @jeremyevans

If there are actionable errors/issues, we definitely want to know about them! Thanks :)

[2020-02-03 21:44] #1531 closed

[2020-02-03 21:45] #1530 closed

[2020-02-03 21:47] ioquatix commented on #792
I think the consensus here is that we won't implement this as it would make URLs even more unreadable and the informal standard is that they are acceptable.

If you think this isn't a good position for `rack`, please feel free to discuss it. At least one way to deal with this would be to make it optional when generating query strings.

[2020-02-03 21:59] jeremyevans commented on #1546
I still think we should keep the current middleware by default for backwards compatibility.  If users don't want the current middleware, they can use a non development/deployment environment.  The alternative is adding deprecation warnings for all usage of the development/deployment environment, which seems less palatable.

I'm OK removing handlers without tests.  We should add deprecation warning

[2020-02-03 22:46] ioquatix opened #1550 "Considerations for response body implementing `#call`."
I would like to update the SPEC in Rack 3 to allow the response body to respond to `#call` and remove all `rack.` response headers (e.g. `rack.hijack`).

The response should be the same as currently defined, e.g.

`[status, headers, body]` where body can respond to `#each` or, in Rack 3, `#call`.

The argument to the `#call` is a stream object, similar to `rack.hijack`.

The benefits are:

- Simpl

[2020-02-03 22:56] ioquatix commented on #1546
I don’t think anyone is using RACK_ENV=deployment thoughts. @tenderlove indicated a desire for removing the default middleware. I think it’s only being used by `rackup` so in practice no one is actually using it. More investigation required.

[2020-02-03 23:00] tenderlove commented on #1550
I've only thought about this for 2 minutes or so, but on the surface this seems like a good idea.

1. I don't know off the top of my head what all of the `rack.` headers are, so we need to look in to that.

2. How should middleware that want to do something depending on the response body be written?  For example a middleware that wants to set at `Content-Length` header, or a middleware that wants

[2020-02-03 23:09] jeremyevans commented on #1546
Regarding the default development/deployment middleware, if you and @tenderlove are in favor of removing them, I'm OK with that in 3.0 as long as it is documented.

However, you should reconsider the idea that nobody is using `rackup`.  It is probably used more than you think.  Additionally, other tools that don't use `rackup` may still follow `rackup`'s conventions.  For example, Unicorn follows

[2020-02-03 23:49] tenderlove commented on #792
Sorry, this ship has sailed.  We're not following the RFC and things seem to be working.  If we changed the code to follow the RFC, then yes we would be more "technically correct", but on the other hand we'd probably end up breaking a ton of code and with no benefit to us or Rack users.

[2020-02-03 23:49] #792 closed

[2020-02-03 23:52] tenderlove commented on #970
IMO it's fine to remove this for v3.0.0

[2020-02-03 23:55] jeremyevans commented on #1550
It sounds like this is just for replacing response hijacking (after headers), and does not affect request hijacking (before status)?  Those currently have a nice symmetry, and would no longer have as nice a symmetry after this change.

We should only consider this change if `each` takes preference over `call`.  That is, if the body responds to `each`, `each` is called and hijacking is not attempte

[2020-02-04 00:03] tenderlove commented on #1546
I'm ok with removing the default middleware in v3.0.0.  My overall "vision" is that Rack defines an interface that webservers and applications can use to communicate.  It should have no opinions about what a default middleware is, as it's just defining an interface.  Also, it means that theoretically apps that speak Rack could work with webservers that speak Rack and never depend on Rack itself.

[2020-02-04 01:13] ioquatix commented on #1550
The main one I'm aware of are `rack.hijack`.

This problem already affects `rack.hijack` and there is no easy solution.

The use case for returning a body that responds to `#call` is because you want to directly interact with the output stream.

That being said, if you did want to intercept this for whatever reason, you'd need to invoke `#call` with your own stream proxy and handle the buffering/s

[2020-02-04 01:17] ioquatix commented on #1550
Reference to https://github.com/rack/rack/issues/1148 which also discusses dropping the requirement for `#rewind` on request body, which should probably be considered in a separate issue.

[2020-02-04 01:33] tenderlove commented on #1546
I should have also mentioned: providing middleware seems fine too, but since my goal is for Rack to be "optional" in an app we shouldn't make defaults.

[2020-02-04 03:14] jeremyevans commented on #1550
This is the only `rack.` response header mentioned in SPEC.  Treating other `rack.` entries in the response headers specially (including case insensitivity) is going beyond what SPEC requires.  Unicorn only handles "rack.hijack" and is case sensitive.

I disagree with this. HTTP/1 is still the more important protocol, IMO.  Plenty of existing software using request hijacking, such as MessageBus.

[2020-02-04 15:48] jeremyevans commented on #1532
As this doesn't appear to be a bug, I'm going to close this now.  If after investigation you think this is a bug in rack, please post details.

[2020-02-04 15:48] #1532 closed

[2020-02-04 16:59] schneems commented on #738
Sorry this dropped off my radar, I've queued up a test with CodeTriage on the `schneems/utils-indifferent` branch. I plan on running this tonight

Since the perf change is only one commit the derailed invocation is a little cleaner:

[code]

If you want to set up CodeTriage locally, you can also run the test.

[2020-02-04 22:24] ioquatix commented on #1546
Right - so if the server implements the SPEC, it can load apps any way it likes, it doesn't need to be `Rack::Builder`.

[2020-02-04 22:45] ioquatix commented on #1546
I've been thinking about this over the past day and I came to some conclusions:

- ENV variables are okay but need to be documented very clearly. We have a bit of a mess now with `RACK_ENV` and I also looked at my own code and it's not clean w.r.t. this variable.
- The community seems to have standardised on `APP_ENV`, which means the environment the app is running in.
- I've also seen and used `D

[2020-02-04 22:54] ioquatix commented on #1546
Also, maybe `multithread` and `multiprocess` are not helpful... we should consider something that indicates whether middleware will be required to service more than one request at a time.

We could also use it for servers to advertise features, e.g.

[code]

etc

This would be used by middleware to ensure the returned app can function (or not) on the given server.

[2020-02-04 22:58] ioquatix commented on #323
This is the last outstanding issue holding up a v2.2.0 release.

I am happy to start reviewing the RFCs... but it would be great if someone has time to help and/or create a PR.

[2020-02-04 23:06] jeremyevans commented on #1546
I'm against requiring Rack specific classes as part of the Rack API.  As @tenderlove has mentioned, web servers and web applications need not require rack at all, as long as both conform to the rack API.  I strongly feel the request env should remain a plain hash.

The only place where Rack currently checks RACK_ENV is in the server and handlers.  Some handlers use RACK_ENV to decide which address

[2020-02-04 23:07] jeremyevans commented on #323
With the amount of work this requires, I don't think it should delay 2.2.0.  We can bump this to 3.0.0 if it is not ready in time for 2.2.0.

[2020-02-04 23:30] ioquatix commented on #323
From: https://tools.ietf.org/html/rfc7578#section-2

Also:

So, I don't really think the RFC provides that much help here.

Taking a look at the current implementation:

https://github.com/rack/rack/blob/d075ee94a6d7775f4cceafeaa56489220fcf3a0c/lib/rack/multipart/parser.rb#L293-L325

It seems to be pretty robust, and there are now many specs for it, covering use cases described in this issue:

htt

[2020-02-04 23:30] #323 closed

[2020-02-04 23:40] ioquatix commented on #1546
I don't think it needs to be part of the SPEC. Because we don't include the definition of `Rack::Builder` in the SPEC either. So, I think it's okay.

As this is internal implementation detail, it can be reworked to avoid the use of a global variable IMHO, an would generally be a good idea.

It depends on how we want to expose this to the servers, and what kind of interface we should expect servers

[2020-02-05 00:13] jeremyevans commented on #1546
I think that is fairly dangerous.  If all users of Builder end up with `env` being a custom Rack object, most software designed to work with Rack will start relying on that interface.  You end up with the de facto standard being the custom Rack object API, instead of the actual SPEC standard.

I'm fine with servers (e.g. Falcon) using custom Hash subclasses for `env`, but I strongly feel that Rack

[2020-02-05 00:28] ioquatix commented on #1546
That's not my proposal though.

It's an entirely new interface to expose the state of the world to the builder instance, rather than depending on global variables.

Whatever you call it and however you implement it, I feel it should be certainly possible to do the following:

[code]

Depending on global state, or some kind of per request state (in the case of multithread) just seems completely wro

[2020-02-05 00:35] #738 closed

[2020-02-05 00:39] schneems commented on #738
It’s worth pointing out that https://github.com/rack/rack/commit/d2e608e8d54b76ec7e52bb7c6508c5a5259c934e did not address the issue here. The code I was testing against already had the optimization of not allocating a hash if it was a HeaderHash. This is a separate concern, the HeaderHash itself is expensive.

[2020-02-05 00:52] jeremyevans commented on #1546
Sorry, I got confused since you are using the same keys that are currently used in the request environment per SPEC, and it's named `Environment`.  I think I understand now that this `environment` is just a helper for builder scripts/`.ru` files.

Is this actually enough of a problem to be worth solving?  I currently don't think the benefit of adding the API is worth the cost.  It recreates much o

[2020-02-05 00:58] jeremyevans commented on #738
@schneems I'm interested in the CodeTriage results.  However, assuming we are memoizing `HeaderHash`, I think it will only be significantly faster if no `HeaderHash` is created, which means CodeTriage would have to avoid `Rack::Response` (not sure if it does or not).

[2020-02-05 04:14] ioquatix commented on #1222
The SPEC is very clear on the interface requirements for response headers.

There is a separate issue of whether we should change the spec to require headers be a Hash, or something which looks like a hash. That's a separate issue and will be discussed and implemented in  https://github.com/rack/rack/pull/1485

[2020-02-05 04:14] #1222 closed

[2020-02-05 04:19] ioquatix commented on #1222
As a side note, the `Rack::Runtime` middleware was broken. So, I've fixed it.

[2020-02-05 04:42] ioquatix commented on #1546
Okay, I will spend some time thinking about what makes the most sense.

[2020-02-05 05:27] ioquatix commented on #1550
Just realised I already outliend changes to the SPEC to implement this https://github.com/rack/rack/pull/1360

Maybe need to revisit it but at least it is an idea of what I was thinking 12 months ago.

[2020-02-05 05:58] ioquatix opened #1556 "Sendfile documentation"
@jeremyevans @tenderlove & anyone else can you please check this?

Here was my original commit to fix the documentation for `Rack::Sendfile`.

https://github.com/rack/rack/commit/b790899d574833f8a9a9e62f6b352c22e32e0a80#diff-b6f6fdd6628c58cec9c7906b4c5275f3

It was based on my understanding as follows:

[code]

This is mapping a file like `/files/myfile.txt` (path part of `http://myserver/files/my

[2020-02-05 06:12] ioquatix commented on #1520
In the error messages provided above, it looks like body is nil. Is that acceptable in the SPEC? I would assume it's okay, but maybe we need to revisit that.

[2020-02-05 06:13] ioquatix commented on #1520
`Rack::Response` does the following:

[code]

[2020-02-05 06:14] ioquatix commented on #1520
A casual reading of the `Rack::Response` code does not show an obvious way that it can return a nil body.

[2020-02-05 06:44] ioquatix commented on #1005
@jeremyevans I love your optimism "Let's continue the conversation" on a 4 year old issue. Thank you for being so gracious :)

[2020-02-05 07:25] ioquatix opened #1560 "IPv6 host normalization."
I reviewed the PR https://github.com/rack/rack/pull/1213 and it looks like we recently merged https://github.com/rack/rack/pull/1538 which prefered the non-square-brackets representation. However, this has not been released yet. So we could adjust it.

Based on the defintion of `URI#host`, I think we should probably prefer the square brackets representation... but I'm not sure what is canonical. I

[2020-02-05 07:34] matthewd commented on #1556
You're wrong. 😄

No. (But yes, but no...)

`Rack::SendFile` is starting with the on-disk path `/var/www/myfile.txt`, and trying to map it back to a virtual path that nginx will be able to re-resolve into that same physical path:

[code]

Our objective isn't to _do_ the mapping, but rather to use foreknowledge _of_ the mapping that nginx will apply, to reverse-engineer a URI that it will ultimately

[2020-02-05 07:34] ioquatix commented on #1560
@jeremyevans said:

for `Forwarded` #1423).

To me, `Forwarded` header is more recent, and it prefers quotes.

Additionally, a `URI#host` field is quoted:

[code]

That being said, you can't feed such a value to `Addrinfo.tcp`. Nor do command line tools prefer it:

[code]

On  https://bugs.ruby-lang.org/issues/14016 it states:

So, maybe we should adopt this model.

[2020-02-05 07:37] ioquatix commented on #1560
@AlexWayfer do you have any opinion on this?

[2020-02-05 07:53] ioquatix commented on #1556
Okay, great, I'm glad there was some discussion about it, I couldn't find it.

[2020-02-05 07:53] #1556 closed

[2020-02-05 12:01] AlexWayfer commented on #1560
To be honest, no, because as I wrote in #1538:

[2020-02-05 12:05] ioquatix commented on #1560
I want to follow the same naming conventions as `URI#hostname` and `URI#host`, along with the canonical definitions of the authority header in HTTP/2. I am working on a PR but there are a couple of tricky edge cases!

[2020-02-05 12:07] AlexWayfer commented on #1560
You always can publish draft PR and we can try to help you with them.

[2020-02-05 16:06] schneems commented on #738
@jeremyevans I ran a few times with 200 measurements and none were statistically significant. I then ran 1200 times to see if more samples could give us confidence. It was also not statistically significant. Here's the raw results:

[2020-02-04-20-21-1580869316-176640000.zip](https://github.com/rack/rack/files/4160546/2020-02-04-20-21-1580869316-176640000.zip)

I think in the scheme of a Rails app

[2020-02-05 16:20] jeremyevans commented on #1520
A `nil` body violates SPEC unless you define `NilClass#each`.

Looking at `Deflater`, it sets `@body = nil` in `close`.  So unless `nil` is returned by the app, one other way this could happen is if `close` was called before `each` (though looking at the code I'm not sure how that could happen).

There is no clear indication any of the problems mentioned in this issue are due to a bug in Rack, and

[2020-02-05 16:32] jeremyevans commented on #738
@schneems Thanks for testing.  My branch had changes for Rack::ConditionalGet which looks like was in use, but that was probably it.

As even a much faster approach in a micro-benchmark does not make a measurable difference in a production application, I think it's fine to keep this issue closed.  The current implementation may be expensive, but unless we want to completely drop case insensitivity

[2020-02-05 16:38] schneems commented on #738
I would have to queue up a test. I don't know.

[2020-02-05 17:08] jeremyevans commented on #1245
The gemspec hasn't been updated, and since nobody responded positively about updating it. I'm going to leave the gemspec alone and close this now.

[2020-02-05 17:08] #1245 closed

[2020-02-05 17:14] jeremyevans commented on #1431
@tenderlove Do we want to remove the "automatic upgrading" completely in 2.2 or in 3.0?  Alternatively, allow turning it off or on via a flag, and default flag to on in 2.2 and off in 3.0?

[2020-02-05 17:15] jeremyevans commented on #761
@tenderlove @ioquatix What are your thoughts on removing the `rescue EOFError` inside `params`?

[2020-02-05 17:42] rafaelfranca commented on #1245
It is a good question about the gemspec. In the past we only appended to the list of authors but that list would be huge. I'm not against matching the core team in the gemspec. @tenderlove @matthewd what do you think?

[2020-02-05 17:56] rafaelfranca commented on #1431
@jeremyevans my plan was to allow turning off via a flag on 2.2 and remove it completely in 3.0.

[2020-02-05 18:19] tenderlove commented on #1245
My only concern is that I don't want to create a situation in which the original author of Rack is removed from the gemspec.  If Leah ever decides to leave the core team, I'd rather not remove her from the gemspec (unless that's what she wants).  So making "gemspec" == "core team" makes me slightly uncomfortable.

[2020-02-05 18:24] jeremyevans commented on #1245
According to the README, Leah already left the core team.  But I agree with you that she should be kept as a gem author unless she would prefer otherwise.

[2020-02-05 18:26] tenderlove commented on #1245
In that case I'm fine with changing the gemspec (I don't particularly care other than my comment above)

[2020-02-05 19:50] boazsegev commented on #1550
@ioquatix ,

Thank you for your suggestion and for opening this discussion.

If I understand the proposal clearly, this will require the server to test if the `body` in the response answers the `#call` method (i.e., using `respond_to?`):

https://github.com/rack/rack/blob/33faf3b07d7eb3df7f1cf61b995238e1e323b853/SPEC#L194-L199

IMHO, making `body#call` optional will be sub-optimal for performance.

[2020-02-05 19:56] boazsegev opened #1563 "Porting the SPEC file to Markdown"
IMHO, markdown will make the SPEC file easier to both read and maintain.

This is even more relevant now that the rack website appears to be no more than a link to the GitHub repo.

Thoughts?

[2020-02-05 20:12] jeremyevans commented on #1550
Handling this via a key in the `env` just moves it from one hash table to another.  It may make more semantic sense, but I'm not sure that alone is worth the backwards compatibility breakage.  I don't have any major issue with such a change, though.  We'd have to find a new name, since `rack.hijack` is already used for request hijacking.  `rack.response_hijack` maybe?

[2020-02-05 20:16] jeremyevans commented on #1563
SPEC is already in RDoc format, so I see no point in changing it to Markdown.  However, I think it does make sense to name the file SPEC.rdoc so that GitHub renders it nicer.  I'll submit a pull request for that.

[2020-02-05 20:37] boazsegev commented on #1563
Thank you @jeremyevans ,

The name change is definitely a great help for reading the SPECs online 👍🏻🙏🏻

IMHO, it will be easier to collaborate on a markdown document (if we're making changes for the 3.0 release), though I'm probably biased (my `rdoc` formatting abilities are really bad).

Thanks again. It reads much better now 🙏🏻

[2020-02-05 20:37] #1563 closed

[2020-02-05 20:51] ioquatix commented on #1560
My goal is to use the following terminology:

- Authority (as per HTTP/2 spec): provided by host header, should be formatted as `address:port`, `ipv4address:port` or `[ipv6adderss]:port`

- Host (as per URI spec): the address part including delimiters, without port.
- Hostname (as per URI spec): the address part excluding delimiters, without port.

[2020-02-05 21:41] ioquatix commented on #1550
In practice, I could not see a huge difference, and don't think it's going to make much difference, all things considered:

[code]

[code]

Thoughts?

[2020-02-05 21:49] ioquatix commented on #1550
Modifying `env` is not reliable in my experience, middleware might do `env.dup` or provide an entirely different `env`, when you modify it the changes never make it back out to the server. But good idea!

[2020-02-05 22:06] AlexWayfer commented on #1560
Does "delimeters" mean square parentheses?

I wanted a helper method for host without port or with it (as it in headers) in #1435, and we've chose `hostname` for this.

[2020-02-05 22:09] ioquatix commented on #1560
@AlexWayfer Yeah delimiters means square parentheses.

Yeah, agreed we need some better accessors.

`Request#hostname` should be the thing you can pass to `Addrinfo.tcp`.

[2020-02-05 22:24] ioquatix commented on #761
I think it's fine. Server can handle it.

[2020-02-05 22:38] ioquatix commented on #1520
If someone can provide a repro, please open a new issue. Thanks for your effort.

[2020-02-05 22:38] #1520 closed

[2020-02-05 22:47] boazsegev commented on #1550
Doesn't that break Hijacking (the non-delayed HTTP/1 variety)?

I mean, how does the server set the `rack.hijack_io` value in the `env` if it lost access to the (application's) `env` object...?

IMHO, such an approach should be considered broken to begin with and shouldn't be considered as a valid use-case.

Perhaps we should point it out in the SPECs (that the original `env` object should be forw

[2020-02-05 22:52] ioquatix commented on #1550
The `rack.hijack` spec is not completely specified. All servers return the I/O object, so even if you can't get it from `env`, you can get it as the result of calling the hijack proc:

https://github.com/socketry/falcon/blob/b8e9ca5aeaf748bec550a54a8bcdeb7f7c3d3fe7/lib/falcon/adapters/rack.rb#L169-L181

All servers I tested do this.

Well, yes, it's kind of a mess which is what we want to try and

[2020-02-05 23:37] boazsegev commented on #1550
Agreed. Your benchmark shows that the performance consideration is somewhat meaningless.

We should focus on ease of use for the design. I also think it would be nice to if the design made intuitive sense.

For me, and it is a personal thing, the response is the data I'm sending the client, while the `env` represents the connection's state and behavior.

When I call `env['rack.hijack'].call`, I am

[2020-02-05 23:50] ioquatix commented on #1550
The problem that underpins all of this is that `rack.hijack` in whatever form it takes, fundamentally means that a layered approach to the output body becomes impossible.

That being said, you should only really do this when you actually intend to take full control of the output stream.

So, to me, conceptually, the hijack operation completely bypasses the rack stack and changes all the assumption

[2020-02-06 00:02] boazsegev commented on #1550
@ioquatix

I agree with much of your assessment of `hijack`.

However, your Wrapper approach could as easily be performed with an `env` approach rather than a `body#call` approach.

Besides being vulnerable to `Wrapper` classes that aren't `call` aware (vs. being vulnerable to `env.dup`), I don't see much of a difference between the two.

In fact, you can do the same wrapping magic with the curren

[2020-02-06 00:41] ioquatix commented on #1563
https://github.com/rack/rack/pull/1567

[2020-02-06 02:22] ioquatix commented on #1550
The only reason to make `#call` a first class primitive in Rack 3.0 is to solidify this model and ensure middleware DO handle it correctly. A response header like `rack.hijack` is simply too easy to ignore. So the point of this is, if we were to itemise changes for Rack 3.0, even though users could do what you propose, I don't think anyone does in practice.

So the result would be:

- Removing ful

[2020-02-06 02:23] ioquatix commented on #1550
In the above case, the Rack "SPEC" would become literally the call operation, and the request and response objects (which could be rich but opaque).

[2020-02-06 02:27] ioquatix commented on #1550
If we did decide to go this route, I'd like to try and find alignment with these implementations:

https://github.com/socketry/protocol-http/blob/master/lib/protocol/http/request.rb

https://github.com/socketry/protocol-http/blob/master/lib/protocol/http/response.rb

@tenderlove Once we get Rack 2.2 out the door (should be soon I hope), we could really start having a good hack and slash branch to

[2020-02-06 02:33] ioquatix commented on #1550
I'll have a hack at this and I propose `rack.rb` to be a new convention with a single method `def call(request, response)` everything else tbd.

[2020-02-06 02:42] jeremyevans commented on #1550
I am very much against the `call(request, response)` approach to SPEC, unless we agree to provide a backwards-compatible implementation that works with the current SPEC and supports existing applications, frameworks, middleware, and servers. I don't think there is even a small possibility that the advantages of a `call(request, response)` approach outweigh the loss of backwards compatibility with

[2020-02-06 02:45] ioquatix commented on #1550
I think the idea would be that we define a low level interface for servers, and still present the `Rack::Builder` on top of that. So Rack 3.0 would be compatible with `config.ru` style apps. But servers would agree to and implement a lower level interface which could also be exposed and would minimise the contention regarding how we deal with these issues. For example, `rack.hijack` could be compl

[2020-02-06 02:46] ioquatix commented on #1550
While Rails is probably in a hard space w.r.t. backwards compatibility, I've definitely heard rumblings that they'd rather not deal with rack middleware and that the overhead of middleware is not worth the flexibility that it brings, since they do their own internal request processing.

[2020-02-06 03:25] jeremyevans commented on #1550
I'll withhold further judgement until seeing an implementation, but I feel in the strongest possible terms that breaking backwards compatibility with existing applications, frameworks, middleware, and servers is not something we should do.

[2020-02-06 03:29] ioquatix commented on #1550
Completely agree.

[2020-02-06 03:46] ioquatix commented on #1560
I've reworked the PR, so that the first commit is the failing specs.

[2020-02-06 08:16] ioquatix commented on #1546
Summary of `Server::Options` handling.

## Puma

https://github.com/puma/puma/blob/4c85facff3b54bae1468ddbafa677d2d53f4b3f0/lib/puma/rack/builder.rb#L158-L173

Assessment: Options are an instance of a custom Options instance, and they are parsed.

## Iodine

https://github.com/boazsegev/iodine/blob/71d4d6baf8feca7c78706497e220393d2cf6ab11/exe/iodine#L60-L78

Assessment: Options are an instance of

[2020-02-06 08:37] ioquatix commented on #1546
I wanted to know if any code is actually using `Server::Options` as parsed by the first line in `config.ru`. It should start with `#\`.

## Rack Codebase

[code]

Assessment: Not in use.

Does anyone have any suggestion how we can check all of GitHub?

[2020-02-06 11:02] AlexWayfer commented on #1560
I see now specs are passing. :tada:

[2020-02-06 17:14] schneems commented on #738
I ran into an error just replacing HeaderHash with a Hash so I had to comment out some functional code for my test as well. I tested this commit https://github.com/schneems/rack/commit/fb22920fddaf32c81f66a7ddf07f278448d4859a

It is also not showing statistical significance. I think that the HeaderHash is only "expensive" on a really light weight app. My app example above didn't really do anything

[2020-02-06 23:42] ioquatix opened #1570 "`SERVER_ADDR` is, it isn't mentioned in SPEC."
`SERVER_NAME` required per SPEC, so we should never get here.  Also, I'm not sure what `SERVER_ADDR` is, it isn't mentioned in SPEC.

_Originally posted by @jeremyevans in https://github.com/rack/rack/pull/1561/files_

So, should we remove it?

[2020-02-06 23:44] ioquatix opened #1571 "Is `SERVER_PORT` required?"
`SERVER_PORT` is required, so I would leave it in the check a few lines above.  I do agree that we should check it is an integer.

_Originally posted by @jeremyevans in https://github.com/rack/rack/pull/1561_

Tests allow for it to be an empty string or not specified at all. The recent PR https://github.com/rack/rack/pull/1561 codifies this to `Rack::Lint`. Do we want to change this?

[2020-02-07 01:11] jeremyevans commented on #1570
I think we should remove support for `SERVER_ADDR`.

[2020-02-07 01:12] jeremyevans commented on #1571
As discussed, it may not make sense for unix sockets.  So we may want to say it isn't required, but if set it must be an integer.

[2020-02-07 01:20] ioquatix commented on #1571
Implemented.

[2020-02-07 01:20] ioquatix commented on #1570
I will implement this in a subsequent PR.

[2020-02-07 02:48] #761 closed

[2020-02-07 04:40] ioquatix commented on #761
Nice work.

[2020-02-07 11:52] #1560 closed

[2020-02-07 11:53] ioquatix commented on #1571
I reverted this. There were a ton of specs that provided a string containing an Integer.

I think we can revisit this for 3.0.

[2020-02-07 11:59] #1570 closed

[2020-02-08 21:19] wbotelhos opened #1576 "Puma caught this error: undefined method `reject' for nil:NilClass (NoMethodError)"
Updating rack from `2.1.2` to `2.2.0` breaks `Rack::Attack`.

[code]

Error:

[code]

[2020-02-08 22:19] ioquatix commented on #1576
I will take a look.

[2020-02-08 22:23] jeremyevans commented on #1576
Looks like we should change the `else` to `elsif forwarded_ips = self.forwarded_for` in `Request#ip`.

[2020-02-08 22:24] ioquatix commented on #1576
Yeah, I'm just looking at that. The problem is I see we have two different interpretations of `REMOTE_ADDR`...

[code]

which implies it might be a comma separated list of addresses and a few lines later:

[code]

which just returns the entire header?

[2020-02-08 22:29] jeremyevans commented on #1576
I'm guessing this was caused by 290523f67cc43c5847b2be2d12964d1232061fe1. `forwarded_ips` was previously always an array, and it changed to possibly being `nil` in that commit.

[2020-02-08 22:30] ioquatix commented on #1576
Yes, that's true, but why on line 1 do we treat REMOTE_ADDR as a list of addresses and the at the end just return it verbatim?

[2020-02-08 22:33] jeremyevans commented on #1576
I guess because we want to return a trusted ip address instead of nothing?  If `REMOTE_ADDR` consistents only of trusted ip addresses, it could result in `remote_addrs` being empty.

[2020-02-08 22:35] ioquatix commented on #1576
Yes, but on the first line we are considering `REMOTE_ADDR` as a comma separated list of addresses, but on the last line we are just returning it verbatim.

[2020-02-08 22:41] ioquatix commented on #1576
Let me make some failing specs to start with. Then we can figure out a solution.

[2020-02-08 23:04] ioquatix commented on #1576
Even without the bug I introduced, this method has issues:

[code]

returns `127.0.0.1,127.0.0.1`.

[2020-02-08 23:22] #1576 closed

[2020-02-08 23:22] ioquatix commented on #1576
@wbotelhos can you try running against rack master and see if the issue is fixed?

[2020-02-09 03:30] kibenimatik commented on #1576
@ioquatix in my case issue has gone in rack master

[2020-02-09 03:31] ioquatix commented on #1576
Okay great, I guess we will release 2.2.1 soon. Perhaps we will wait a day to see if any other issues crop up.

[2020-02-09 04:11] ioquatix opened #1579 "Support TruffleRuby"
https://github.com/rack/rack/runs/434161173

cc @eregon

What can I do to help?

[2020-02-09 06:21] ioquatix commented on #1576
Okay, released in v2.2.1 just now.

[2020-02-09 06:53] HansBug opened #1582 "`NoMethodError: undefined method `reject' for nil:NilClass` when running `rails test`."
This is error message when running `rails test`.

[code]

I ran `rails test` yesterday, with gems below, no failures or errors.

* rails, 5.1.7
* rack 2.1.2
* ruby 2.4.0

Then I upgrade to gems below, the errors above (**all the tests with controller**) are thrown.

* rails 5.1.7
* rack 2.2.0
* ruby 2.5.7

After that, I downgrade rack to version `2.1.2` (ruby's version is still `2.5.7`), no failur

[2020-02-09 06:57] HansBug commented on #1582
I just compare the set of gems yesterday and now (both are runnable), the only difference is the version of gem `rack` (from 2.1.2 to 2.2.0).

[2020-02-09 07:04] charleskorn opened #1583 "TypeError: no implicit conversion of nil into String with 2.2.1"
I'm receiving the following error when starting my application after upgrading Rack from 2.1.2 to 2.2.1:

[code]

I'm running `rackup` like this: `bundle exec rackup -p 4567 -o 0.0.0.0`

My `config.ru` looks like this:

[code]

The full repo is available in https://github.com/batect/batect-sample-ruby/pull/145.

[2020-02-09 07:08] ioquatix commented on #1582
Can you try 2.2.1

[2020-02-09 08:29] ioquatix commented on #1583
On this line:

https://github.com/macournoyer/thin/blob/f83ab677f008afcfabcdfa8930225f6cea88f461/lib/rack/adapter/loader.rb

`dir` is nil. `dir` comes from this line:

https://github.com/macournoyer/thin/blob/f83ab677f008afcfabcdfa8930225f6cea88f461/lib/thin/controllers/controller.rb#L168

`@options` is

[code]

So it doesn't include `chdir`.

I checked `2-1-stable` and I couldn't find any referen

[2020-02-09 08:35] HansBug commented on #1582
Just not I upgrade rack from `2.2.0` to `2.2.1`. Now it can run properly.

Thanks! :)

[2020-02-09 08:35] #1582 closed

[2020-02-09 08:35] ioquatix commented on #1583
Okay, I think I found the problem.

https://github.com/rack/rack/commit/371bd586d188d358875676bc37348db9a0bf7a07#diff-e04002084f4028e511d1ec329d37c391

In this commit, we changed from using `Thin::Server` to `Thin::Controllers::Controller`. This seems to have broken thin. Because `Thin::Controllers::Controller` requires the `:chdir` option.

@jeremyevans I guess we need to add a default `:chdir` o

[2020-02-09 08:37] ioquatix commented on #1582
Thanks for confirming the latest version is working correctly.

[2020-02-09 08:44] ioquatix opened #1584 "Remove all non-standard handlers."
Thin seems like an interesting server, but if you look at the issue tracker, it has not been maintained for many years. The recent changes to the thin handler have caused issues (https://github.com/rack/rack/issues/1583).

I don't think we should be maintaining handlers for servers in rack. They should provide their own adapters. If the maintainer of thin is not wiling to do this, should we be on

[2020-02-09 08:44] ioquatix commented on #1584
https://github.com/rack/rack/issues/1583

[2020-02-09 09:07] ioquatix commented on #1583
You have two options right now.

- Stay on rack 2.1.2
- Use a different server.

[2020-02-09 15:24] eregon commented on #1579
Also filed as https://github.com/oracle/truffleruby/issues/1898.
We need to figure out what goes wrong and fix it.
Probable some incompatibility in TruffleRuby.

It might be worth trying a run with `truffleruby-head` as that has quite a few bug fixes.

[2020-02-09 15:38] eregon commented on #1579
With `truffleruby-head`, 3 failures instead of 5, that's nice: https://github.com/eregon/rack/runs/434669369

[2020-02-09 16:10] jeremyevans commented on #1583
Sorry about that.  I have no knowledge of Thin, and the issue report and recommended fix looked reasonable to me.  In general, required options are a pretty bad.

I will revert the commit to restore compatibility.

[2020-02-09 16:14] #1583 closed

[2020-02-09 16:18] eregon commented on #1579
The last issue is `Rack::ShowExceptions#test_0002_handles exceptions with backtrace lines for files that are not readable`.

`refute_includes(res.body, 'bad-backtrace')` passes on MRI because StringIO#inspect does not show the contents of the StringIO, while it does on TruffleRuby:
[code]

[2020-02-09 16:19] jeremyevans commented on #1584
I think in 2.3 we should deprecate handlers that require libraries not shipped with Ruby, and then remove such handlers in 3.0.  The handlers that only use libraries that ship with Ruby (webrick and cgi) we can keep and fully test.

[2020-02-09 16:21] eregon commented on #1579
While convenient for debugging to see the contents of the StringIO, it's potentially information leaking that wouldn't happen on MRI, so we'll just use the same output as MRI for StringIO#inspect.

[2020-02-09 16:29] eregon commented on #1579
Tests pass with my fixes, I'll merge them to TruffleRuby and then do a PR here.

[2020-02-09 21:21] ioquatix commented on #1584
This was also the advice of @tenderlove, so I'm happy to agree with that.

[2020-02-09 21:24] ioquatix commented on #1579
I agree with all your assessments.

StringIO could contain multi-mb of data so probably not best to print it out.

Maybe not bad to include some detailed information on `#inspect`, e.g. `#<StringIO:0x1234 4MiB UTF-8>` or something.

To be honest, the Rack spec seems flawed too.

I read some comments about the encoding. That also seems a bit whack.

[2020-02-09 23:57] dmitry commented on #1113
@jeremyevans thanks for answering on the topic question.

Just checked `rack-test` issues, and the first one I can see is this one: https://github.com/rack-test/rack-test/issues/256

Means it's almost unmaintained, and my question 4 years ago was because I found that `rack-test` at 2016 didn't worked well with the latest `rack` for some of the features it provided by then.

Regarding the documenta

[2020-02-10 01:46] macournoyer commented on #1584
I think it make sense to remove the Thin handler from Rack. I agree handlers should be in the servers. I'd be happy to move the code to Thin and make a release.

[2020-02-10 08:57] lizdeika commented on #1531
Hi,

we have no `rack-redis`, `redis-rack` or anything like that in our application.

2.2.1 is still broken, Sidekiq UI is some cut down html: https://i.imgur.com/lmuT0no.jpg
`NoMethodError: undefined method `transform_keys'` is gone.
It just fails silently now.

2.0.8 is the latest that just works.

[2020-02-10 09:06] ioquatix commented on #1531
@mperham ping

[2020-02-10 09:08] lizdeika commented on #1531
we are using Sidekiq Pro 5.0.1 (Sidekiq 6.0.4) if that helps

[2020-02-10 09:09] ioquatix commented on #1531
@lizdeika it looks like the content-length is being set wrong. You can try using falcon which ignores the content-length header from rack to confirm (if it works okay with falcon but breaks with puma it's a strong indicator that's the problem).

[2020-02-10 09:21] lizdeika commented on #1531
Sadly can not test that as the problem is viable only in production that runs on passenger. We can't just switch web server in production for a test :(
Development environment runs on puma and has no problems with sidekiq.

[2020-02-10 09:22] ioquatix commented on #1531
Is your middleware stack different between development and production?

[2020-02-10 09:28] ioquatix commented on #1531
Can you try running `curl -i` against your production system and check what is the content length? Do you have new relic in production too? Because I heard it was causing some issues.

[2020-02-10 11:22] #1579 closed

[2020-02-10 11:25] pocke opened #1590 "Rack::Request#host returns unexpected host when the domain starts with a number"
# Problem

`Rack::Request#host` returns unexpected host when the domain starts with a number.

Rack v2.1.2 returns host correctly.

[code]

But Rack v2.2.0 (and v2.2.1) returns a part of the host unexpectedly.

[code]

I guess the cause is the following pull request. https://github.com/rack/rack/pull/1561
https://github.com/rack/rack/blob/838ce3aee47456573675ba2353f1573158caab32/lib/rack/request.r

[2020-02-10 11:58] ioquatix commented on #1590
Yes, that's correct, I guess we need to force it to match the full string. Thanks for the report.

[2020-02-10 12:03] ioquatix commented on #1590
I thought it would be greedy by default but it wasn't.

Changing `AUTHORITY` to:

[code]

fixes the issue for me.

[2020-02-10 12:14] #1590 closed

[2020-02-10 14:02] pocke commented on #1590
Thank you for quick fixing!

[2020-02-10 15:17] mperham commented on #1531
Fixed on Sidekiq master.

[2020-02-10 16:20] poloka commented on #1571
Is a correction for this mistake being released shortly?

[2020-02-10 16:33] poloka commented on #1583
@jeremyevans is there an ETA to when v2.2.2 will be released?

[2020-02-10 18:39] jeremyevans commented on #1583
@poloka I believe @ioquatix is planning a release soon, probably today or tomorrow.

[2020-02-10 20:42] perlun commented on #1113
Hi,

Chiming in as one of the (regretfully rather inactive) `rack-test` maintainers here.

I don't think this necessarily holds true. One of the major, major reasons why `rack-test` has so many downloads is because AFAIK it gets included by default when creating a new Rails project. I'm quite certain that we _do not_ have anywhere near ~200 million active users; if we did, the whole maintainer iss

[2020-02-10 20:56] jeremyevans commented on #1113
@perlun Thank you and the other rack-test maintainers for your work on rack-test. I really like rack-test and use it for almost all of my acceptance testing.  However, I personally do not see a need to move it to the rack organization.  Other rack core team members may feel differently; I do not speak for them.

Note that rack already ships with testing tools in the form of Rack::MockRequest and R

[2020-02-10 21:29] ioquatix commented on #1113
If you need help maintaining it then moving it to this org makes sense to me. Because we already have the structures and some people here to keep it moving forward. It’s likely coordinated changes will be required for Rack 3.0 and it’s also easier for discoverability. So I vote to move it to the rack org. But happy to hear from others.

[2020-02-10 21:33] ioquatix commented on #1531
@mperham what was the issue?

[2020-02-10 21:43] mikegee commented on #1531
I'm the wrong Mike, but it looks like New Relic was changing the body after Sidekiq calculated the content-length. https://github.com/mperham/sidekiq/commit/675e40c32684a7e89987673b82b5241545763fcb

[2020-02-10 21:54] ioquatix commented on #1531
@mikegee thanks for the link, looks like the issue is fixed.

[2020-02-10 22:09] ioquatix commented on #1583
Yes, I will be doing it now.

[2020-02-10 22:28] ioquatix commented on #1546
I realised this is probably going to introduce breaking changes, because of the way `Rack::Builder` works. I could not figure out a way around it. Maybe @eregon has some more meta-magic. But I couldn't see a way to take the current approach and use a pre-existing builder, e.g.

[code]

vs

[code]

I've also been thinking about this in the context of servers.

Do we want `config.ru` to introduce gl

[2020-02-10 22:47] jeremyevans commented on #1546
I believe config.ru should continue to run at TOPLEVEL_BINDING.  That is the expectation and I don't think any benefits of changing it are worth the loss of backwards compatibility.  Note that if you provide a non-`.ru` file, it is just required, and required files are evaluated at TOPLEVEL_BINDING, so changing this would also introduce incompatibility between `.ru` and non-`.ru` files.

[2020-02-10 22:50] ioquatix commented on #1546
The benefits are:

- Better isolation of application state which potentially aids graceful reloading, testing, etc.
- Simpler implementation in `Rack::Builder` - maybe impossible to actually use `options` as shown above if we try to maintain current implementation.

In addition, I far prefer people using `require` for code/constants than trying to stick an entire web application into a `config.ru`

[2020-02-10 22:55] ioquatix opened #1592 "Make response headers a hash and enforce lower-case keys."
HTTP/2 makes it clear that headers should be lower-case (https://http2.github.io/http2-spec/#rfc.section.8.1.2):

HTTP/1 was often case-preserving/case-insensitive. However, sometimes this behaviour caused bugs when different implementations worked together. So, it's quite a risky default.

I suggest with Rack 3.0 we take the opportunity to enforce the HTTP/2 semantics. It also simplifies the requ

[2020-02-10 23:00] ioquatix commented on #1592
Here is a proposed implementation: https://github.com/rack/rack/pull/1485 but I think we can lock it down even further, and we have justification to do so based on the HTTP/2 RFCs.

[2020-02-10 23:01] ioquatix commented on #1592
This has also been discussed in https://github.com/rack/rack/issues/1222.

[2020-02-10 23:08] ioquatix commented on #1592
Node.js does normalisation like this too apparently: https://nodejs.org/en/docs/guides/anatomy-of-an-http-transaction/#method-url-and-headers

[2020-02-10 23:26] ioquatix commented on #1584
Should we move these handlers into separate repos, e.g. `rack-fcgi` or `rack-handler-fcgi`?

[2020-02-10 23:41] ioquatix commented on #1590
Released now in v2.2.2 - thanks for reporting the issue with an easy repro!

[2020-02-10 23:50] ioquatix commented on #1550
I'm going to open a new issue with a concrete proposal based on the discussion in this issue.

[2020-02-10 23:50] #1550 closed

[2020-02-11 00:14] jeremyevans commented on #1584
I don't think there is need to do that.  We may want to reach out to the gem authors of the handlers and ask them to include the rack handler in their library if they want to support it.  If not, users that want to continue using the handlers can copy the old version and maintain their own gem.

[2020-02-11 02:43] ioquatix commented on #1584
While I can accept that position, I also wonder if anyone will bother to maintain `rack-handler-fcgi` or if we will be fracturing the users of such an interface. That being said, I don't think it matters a huge amount to me personally.

[2020-02-11 03:00] jeremyevans commented on #1592
I think requiring lower case headers has the potential to break lots of rack applications, frameworks, and middleware.  However, it would also simplify a lot of code in the long run.  Since HTTP/2 requires it and HTTP/1 works fine with it, it seems a reasonable change for SPEC.  I definitely prefer this approach over requiring that response headers be case insensitive.

I think if we take this app

[2020-02-11 03:04] ioquatix commented on #1592
Agreed. I even know for a fact this will break `rack-test` which is why I am keen to get that repo here so we can coordinate the releases.

Agreed.

Agreed.

That seems reasonable.

Agreed.

[2020-02-11 03:21] ioquatix opened #1593 "The focus of Rack."
Rack was designed around providing a bridge between web applications and web servers. The interface it currently presents is high level, loosely based on the CGI model.

This model presents a number of challenges when considering the direction of the modern web, including things like WebSockets, streaming requests & responses, etc. Things like `rack.hijack` are shoe-horned into the existing model

[2020-02-11 03:26] ioquatix opened #1594 "Repurpose `rackup` Executable."
`rackup` tries to present a unified interface for servers.

- It uses a static list of named servers and tries them in order. That list makes it non-trivial for new servers to gain traction (since they need to get in the list).
- It doesn't expose options for TLS, etc which have become a requirement for HTTP/2.
- It doesn't expose enough controls for servers which provide advanced mechanisms for c

[2020-02-11 03:27] ioquatix commented on #1584
I'm going to put this under the umbrella of https://github.com/rack/rack/issues/1593

[2020-02-11 03:28] ioquatix commented on #1592
I'm going to include this under the umbrella of https://github.com/rack/rack/issues/1593

[2020-02-11 03:44] ioquatix opened #1595 "Lower level interface for applications."
The current interface for servers is built around the expectations of the CGI protocol. Things like `rack.hijack`, WebSockets, and push promises do not fit well.

I propose a lower level interface for servers to implement. Although I certainly don't know the exact shape, here are some ideas which I think could form the basis of Rack 3.0, based on discussions with @tenderlove and @jeremyevans.

##

[2020-02-11 03:45] ioquatix commented on #1595
Putting this under the umbrella of https://github.com/rack/rack/issues/1593.

[2020-02-11 04:12] jeremyevans commented on #1593
Agreed, and I think this is for the best.

Agreed.  `rack.hijack` is a hack, a backdoor, something that requires care to use correctly.

Agreed, and I don't think that is necessarily a bad thing.  Rack (other than hijack) presents a very simple API: `env` input and `status, headers, body` output.  In my opinion, this is rack's best feature, and we should not change it.

I would say that the rack S

[2020-02-11 04:23] jeremyevans commented on #1595
How would existing rack middleware/applications designed for `env->[status,headers,body]` use this new interface?

Will this actually split things such that there are two SPECs, one that uses `env->[status,headers,body]` and one that uses `call(request, response)`?

How does (or maybe just does) middleware work with a `call(request, response)` model?

Personally, I think that going from `env->[sta

[2020-02-11 04:45] ioquatix opened #1596 "Move `Rack::Session` to new `rack-session` gem."
`Rack::Session` is an important piece of rack. However, it has quite a different life from `rack`, in the sense that:

- It might be useful to version it independently of Rack, i.e. to fix security issues without requiring users to update/change `rack` versions and/or backporting.
- There are no strict dependencies between `rack` and `rack-session`. They are largely independent of each other.
- Us

[2020-02-11 04:54] ioquatix commented on #1595
Existing rack middleware applications just continue to work as expected, and they won't need to worry about this new low level interface.

While I see where you are coming from, I think that if you look at the biggest consumer of `rack`, which is `rails`, the middleware model is less important to them. I think they would prefer the performance advantage and flexibility of a lower level interface.

[2020-02-11 04:55] ioquatix commented on #1594
Also, now that I think about it, maybe it's even possible to move this to a `rack-handler` gem.

[2020-02-11 05:31] jeremyevans commented on #1595
I think calling this "low level interface" and "high level interface" is wrong unless both are required.  From what you are describing, in RFC terms we would say that servers MUST implement `call(request, response)`, while applications MAY implement either `call(request, response)` or `env->[status,headers,body]`.  In practice, it would result in servers and applications MUST implement `call(reque

[2020-02-11 05:38] ioquatix commented on #1595
That’s actually already what falcon does and the “alternative spec” you propose is implemented in “protocol-http”. However the value of doing it in rack is that we reach a wide audience with expanded functionality. That being said I see your POV. Maybe rack is rack and it’s best left as is. I still think the surface area of rack is more extensive than it needs to be.

 If we decide to go that way

[2020-02-11 06:33] wbotelhos commented on #1576
Everything working perfectly, @ioquatix . Thank you! <3

[2020-02-11 16:24] boazsegev commented on #1595
@ioquatix ,

It seems to me that the "wider audience" reachability concern isn't super fair towards the Rack repo... and also, perhaps it isn't really required.

IMHO, we need to reach only two audiences - the Rails 7.0 framework developers and the Sinatra 3.0 framework developers (whom I don't know).

These are the people that will either adopt the new approach or not. It would make sense to invo

[2020-02-11 17:11] boazsegev commented on #1594
I agree that `rackup` is less than ideal and perhaps could be bundled in an external gem.

However, some of it's shortcomings are not that terrible.

IMHO, it's not a big issue.

Applications that require TLS can use the command line of their server of choice. This concern is mostly deployment specific and doesn't often affect development.

Besides many applications (certainly all of the ones I de

[2020-02-11 17:29] jeremyevans commented on #1594
`rackup` supports this via the `-O` option.  Not sure about other handlers, but the puma handler does handle it (this is from the `rackup -h` output):

[code]

I think `rackup` should stay with rack for backwards compatibility.  I do think we should drop handlers with dependencies that are not included in Ruby.  The other handlers we don't really test and are not in a good position to maintain.

T

[2020-02-11 18:01] boazsegev commented on #1594
Thank you @jeremyevans for the quick reply.

The `-O` option might (AFAIK) add options to the `opt` hash, but it doesn't allow servers to read command line arguments.

When trying `-O -t 1`, the execution fails with: `configuration ./1 not found`

When trying `-O -t=1` (iodine supports both variants), the option is ignored.

IMHO, this is not really the same as allowing server handlers to read com

[2020-02-11 19:57] rafaelfranca commented on #1596
👍

[2020-02-11 21:39] eregon commented on #1546
Just replacing
https://github.com/rack/rack/pull/1545/files#diff-ae0c3a877f25d11360996846d72db9acR114
with
[code]
should work, no?

It's running in a copy of TOPLEVEL_BINDING, it doesn't add local variables to TOPLEVEL_BINDING.
Or is the config.ru actually using `$global` variables? That sounds wrong.

Right, constants in config.ru will be constants of Object.
You could wrap everything under a mod

[2020-02-11 21:42] eregon commented on #1546
It's worth noting than running code in a copy of `TOPLEVEL_BINDING` is no different than code running in a file loaded by `require`. Both have the same constant nesting (just Object).
Or maybe your point is that require loads a given file only once, but config.ru might be loaded multiple times in the same process?

[2020-02-11 21:46] ioquatix commented on #1546
[code]

[2020-02-11 21:54] eregon commented on #1546
Ah yes, of course, but we can fix that:
[code]

That will have the side effect to also have that `builder` variable in the final `binding`.
So you might want to give it a name less likely to conflict.
You can also set that variable to `nil`, but it will still be in `Binding#local_variables`.

[2020-02-11 21:55] ioquatix commented on #1546
Haha, you are magician.

[2020-02-11 22:03] eregon commented on #1546
Could also pass the builder via a lambda, very similar:
[code]
It still leaks that one local variable though.

[2020-02-11 22:12] rafaelfranca commented on #1592
I'm onboard with this change.

This would affect only headers set on middleware or application code, correct? Since all headers that come from the handlers we can make sure they are using lowercase keys.

[2020-02-11 22:17] ioquatix commented on #1592
We currently transform all headers e.g. `my-header: foo` to `{'HTTP_MY_HEADER' => 'foo'}` so on the input side this is already handled by the "CGI" specification we follow. Yes, it only affects middleware and application code. But as you can see, all our external tests fail now, because the `Rack::Lint` is rejecting headers with upper case letters. But in theory, they could also be rejected becaus

[2020-02-11 22:32] ioquatix commented on #1592
I should add there is only one practical reason by which we should judge this change carefully.

Internally, as long as we are consistent and fix all areas, this is generally a good change IMHO.

Externally... some browsers didn't follow the specs. And things like `Content-type` and `Content-Type` were handled differently/incorrectly.

That being said... if we still face this, it's easy enough to

[2020-02-11 22:42] ioquatix opened #1598 "Allow response headers to contain array of values"
A while ago I discussed with @tenderlove - we currently use `\n` characters to separate multiple headers. e.g.

[code]

Internally `HeaderHash` uses an Array I believe, e.g. something like:

[code]

Personally I like this formulation better, it's more efficient for the server implementation and it's easier from the user POV to deal with too. It seems like less of a hack, and it should minimise

So

[2020-02-11 23:29] ioquatix commented on #1595
The value of doing this in `rack` is simply a matter of getting it adopted. Whether it's the right approach or not is something worth discussing.

I do think there is a strong use case for adopting streaming by default responses.

There are lots of things that become so much more tricky because it's not a first class option.

e.g. streaming any kind of large result set, slow computations, event ba

[2020-02-11 23:42] ioquatix commented on #1595
Just one last comment, it would be nice if there was a basic form for the response body, such that `#each` was just a specialisation, e.g.

[code]

I personally don't think it would be a mistake if then response body was streaming by default, and that using an Array for a body was just a buffered case of that (which is in fact what https://github.com/socketry/protocol-http/blob/master/lib/protocol

[2020-02-12 00:23] boazsegev commented on #1595
I agree that it's a hack, but I think you're missing some of the use cases that hijack the connection **before** the headers were sent.

These use-cases might be limited to HTTP/1, but they are still in use in the wild.

I would add the `call(env)` (as is) using an additional `env['rack.response']` object that offers Rack 3.0 functionality (such as `#headers[]=`, `#upgrade`, `#stream` or `#close`)

[2020-02-12 00:26] boazsegev commented on #1595
P.S.

Yes, this is why I wanted the `rack.upgrade` approach to be added.

But at the end of the day, it was a little backwards. Things will be merged into Rack when they are adopted (mainly by Rails) rather then adopted when they are merged with Rack.

IMHO, getting trying to figure it out with the tech movers (Rails / Sinatra) is the best path to widespread adoption.

[2020-02-12 00:41] jeremyevans commented on #1595
I would posit that it uses the `rack` name to push a completely different approach not at all in line with what rack was originally built for.  If this different approach is worth doing, it should succeed on its own merits, under a new project, using a new name.  Likewise, if this is not a better solution, it will fail on its own, without dragging down the rest of rack with it.  I think the most l

[2020-02-12 01:00] ioquatix commented on #1595
@boazsegev

A normal web server loop looks like this:

[code]

At the point we invoke the user code, we are essentially within the right context for asynchronicity/multiplexing. If the response simply writes out chunks in sequence, the underlying socket will provide back pressure as required. For an event driven server, this will be non-blocking, and for a thread-based blocking server, this will c

[2020-02-12 01:32] ioquatix commented on #1595
I agree with somewhat. That being said, Rack is self-described as a minimal bridge between web servers and applications, and it already forms core part of many web frameworks. These frameworks are trying to figure out how to do things like WebSockets, streaming requests and responses, and the reality is Rack doesn't have a clean interface for doing these things. It's basically all hacks because no

[2020-02-12 02:29] matthewd commented on #1595
Agree. The appeal of making the change in Rack is that Rack is well-established, widely implemented, and trusted... but that's a direct result of Rack's stability and inertia, not a well to be tapped.

`block.call(chunk)` doesn't feel terribly more difficult to spell than `response_stream.write(chunk)`, to me.

Ruby's fundamental series-of-stuff primitive is Enumerable, not a stream, and it feels

[2020-02-12 02:49] ioquatix opened #1599 "How to handle backwards compatibility"
After working on the lower case header issue, I can't remember who suggested it, but we can create a middleware, e.g. `Rack::NormalizeHeaders` which adjusts header keys according to the updated SPEC.

That being said, anyone who adopts Rack 3.x with middleware designed for Rack 2.x will need to insert this middleware themselves.

This won't be the only point of backwards incompatibility, and I fee

[2020-02-12 02:52] ioquatix commented on #1599
Also, I think if we do decide to implement this, we should kick it off in Rack 2.3, so there is a suitable migration path. Even in Rack 2.3 it is a no-op, or at best, an error if a feature is unsupported.

[2020-02-12 03:39] ioquatix commented on #1595
@jeremyevans With HTTP/2 this is actually not a big deal. You can cancel a stream even after you've started writing data: https://httpwg.org/specs/rfc7540.html#StreamErrorHandler and the "spiritual equivalent" with HTTP/1 is closing the connection which is pretty rough but the only option if you've already started streaming a response.

@matthewd I'm not sure what point you are trying to clarify,

[2020-02-12 04:11] jeremyevans commented on #1595
The vast majority of current rack usage is with HTTP/1, and I don't expect that to change in the near future.    Even if HTTP/2 is used by the client, in most cases Ruby is not running the front end webserver, and connections between the front end webserver and the Ruby webserver are likely to be HTTP/1 and not HTTP/2.  Without a solution that works well in HTTP/1, this is a non-starter in a lot o

[2020-02-12 04:34] matthewd commented on #1595
I meant something like this:

[code]

(i.e., unless I'm missing something fundamental, the two models are just using different method names [which I here have to wrap & translate, granted], not inherently different execution orders)

---

Sorry, I didn't mean to impugn your motives -- only to literally observe that I don't see a path forward that allows progressive adoption of the proposed API cha

[2020-02-12 04:45] ioquatix commented on #1595
Agreed, seems like we can't implement this proposal here, so I'll close it. Thanks for your feedback.

I like your example and I didn't think about doing it that way. I think further discussion is required, so I'll open a new issue.

[2020-02-12 04:45] #1595 closed

[2020-02-12 04:50] ioquatix opened #1600 "Streaming responses"
@matthewd gave an example of one option by capturing the stream callback.

For reference, here is a fully working example:

[code]

[code]

It also works for HTTP/2

If we can do this already, is there any point to partial `rack.hijack`?

@boazsegev do you have any opinion about capturing the stream output this way?

[2020-02-12 06:07] ioquatix opened #1601 "Rack 3.0 minimum Ruby version"
By the time we release Rack 3.0, I believe Ruby 2.4 will be EOL.

There are a few functions we would prefer to use, including `#tranform_keys`.

Do we want to support EOL Rubies? What would be a reasonable policy?

[2020-02-12 08:19] matthewd commented on #1601
It's certainly not the deciding factor, but FWIW, the Rails 6.x series requires Ruby 2.5.

If anything, that's mostly relevant in the other direction: we're ~going to~ _expecting_ to support 2.5 for a new release in 2021, so we'd prefer new Rack releases to also maintain support for that version until then (because otherwise we won't be able to use them).

That desire aside, I think it's generally

[2020-02-12 08:19] simi commented on #1599
Great idea @ioquatix. Let me share few ideas after first reading.

I like the "General Version", reminds me Rails versioned migration classes. The question is how long rack should support old "General Versions". Until next major? Support for "2.2" would be removed in "4.0" and deprecated at "3.99999" (last 3.x version)? Or until second next major?

How to handle this in generated `config.ru` (for

[2020-02-12 08:29] simi commented on #1601
Just to remind, there are some stats available at http://ecosystem.rubytogether.org/ and `2.3` seems still widely used for some reason.

[2020-02-12 09:12] ioquatix commented on #1599
I'm on the fence as to whether this is a good idea.

e.g. https://github.com/kickstarter/rack-attack/blob/master/rack-attack.gemspec is okay.

The reality is, the `Rack::NormalizeHeaders` can only fix certain kinds of issues... There are some issues it can't fix. If we introduce such a feature flags, I can't help but feel we give a false sense of security.

I think where it makes sense to me is if

[2020-02-12 09:21] simi commented on #1599
You're not alone on that fence, in general I mean it is good idea to handle backwards compatibility. I have no idea which approach would work the best.

On the other side (personally) I wasn't missing this for last few years. It can be caused by minimal amount of huge/breaking changes done in last few months/years. Also I rarely use rack directly on long-term projects and maybe frameworks build on

[2020-02-12 09:23] ioquatix commented on #1599
Rack hasn't really had a major release for 5 years. There have been a bunch of minor bug fix releases and security issues, but about a month ago there were about 100 outstanding PRs and the same number of open issues.

[2020-02-12 11:59] boazsegev commented on #1600
@ioquatix ,

I'm not sure what my opinion can add, but I'll give it a shot.

The approach seems straight forward to me. However, I also believe it is inherently different form `rack.hijack` use cases.

Where this approach represent a TTFB optimization on responses that are server bound but slow (i.e., long database queries), the `rack.hijack` approach solves different use-cases, such as streaming

[2020-02-12 12:32] boazsegev commented on #1600
P.S.,

This was a very interesting use of the template engine internals, allowing the `each(&block)` to `yield` within the template's loop, knowing it internally calls the `#<<` method.

I'm not sure it would work for every template engine, but the same could be done today with any template engine. For example (using iodine's mustache template engine):

[code]

Yes, the code isn't fully optimizes

[2020-02-12 12:40] ioquatix commented on #1600
Nice work building and trying it out. You should try it in an actual server, it's fun.

I think what it shows is that `#each` used in this way is sufficient to replace at least partial hijack.

Full hijack is impossible for HTTP/2. The only use-case I'm familiar with is HTTP/1 WebSockets. Is there any other reason for full hijack?

If there are no good use-cases for `rack.hijack` I would like to r

[2020-02-12 12:58] matthewd commented on #1600
There's some historical context in the original PR thread, especially starting from https://github.com/rack/rack/pull/481#issuecomment-14125039, and very especially:

I think my mental model would suggest partial hijack if an application wanted to implement e.g. a custom `Transfer-Encoding` -- along with full hijack for protocol upgrade, and `each` for anything that's pure-RFC HTTP, regardless of

[2020-02-12 13:04] ioquatix commented on #1600
@matthewd thanks for the links.

Both. Full hijack is a relic of HTTP/1 which cannot be supported in any logical way with HTTP/2. Partial hijack can already be done using the `#each` inversion trick you suggested. So, I don't know why it's needed in Falcon, and I love simple.

Welcome feedback on this conclusion - but I feel like if the same logic applies to Rack, wouldn't it be nice to remove `ra

[2020-02-12 13:06] ioquatix commented on #1600
On this point, why not use partial hijack? you can return the connection headers (upgrade and so on for HTTP/1) and then read from `rack.input` and write to `#each`. Then, you could at least be compatible with HTTP/2 WebSockets.

[2020-02-12 13:37] boazsegev commented on #1600
@ioquatix :

Another use case is SSE / long-polling, which won't work with `each`, since it's an event driven design (possibly subscribing to pub/sub).

If SSE was implemented using `each` it would lock the servers thread. On evened servers, that would be a death blow.

SSE / long-polling could use either one. If one was to be removed, it could fall back to the other.

In fact, WebSockets could us

[2020-02-12 13:56] boazsegev commented on #1600
@matthewd :

It seems to me that all these use-cases collide with concurrency optimizations. They add unexpected threads / fibers to the settings selected by application developers.

For example, running `puma -w 4 -t 2` has the unexpected result of more threads than selecte, making optimizations harder to manage.

I believe each of these could be improved. How can we (as server developers) make t

[2020-02-12 15:38] jeremyevans commented on #1600
I don't think we should remove full hijacking, as it has use cases in HTTP/1 that are not handled any other way.  One example of this is messagebus, which uses full hijacking to take the socket and add it to the pool of sockets it manages.  This cannot be done without hijacking of some form.  For example, you can use hijack with messagebus and unicorn to serve a large number of long polling client

[2020-02-12 17:59] boazsegev commented on #1600
@jeremyevans , I would like to offer a counter-opinion.

I believe MessageBus is a prime example of why we **should** deprecate `rack.hijack`.

Reading through the MessageBus code shows how a wonderful idea is hampered by the flawed `rack.hijack` approach - resulting in flawed network logic that could both quietly fail (sending partial data) and is susceptible to attack.

The IO is collected [usin

[2020-02-12 18:42] boazsegev commented on #1598
What an amazing coincidence, I almost posted an issue about this a few weeks ago.

However, after writing it down and adding benchmarks to show why it's faster (by ~40%), I realized that servers will have to support both variants (the `\n` and the Array value) due to backwards compatibility.

In the end, the positive change in the SPECs might not translate to a positive change in practice.

For me

[2020-02-12 18:51] jeremyevans commented on #1600
@boazsegev I think if you can identify actual problems with MessageBus, you should probably report them upstream.  All software has bugs, and it sounds like the bugs you are describing could happen to a webserver that implements the rack API. Hijacking is basically having the application operate as the webserver for the hijacked connection.

 In order to handle MessageBus's usage, it needs the equ

[2020-02-12 19:33] boazsegev commented on #1600
@jeremyevans , I'm mostly writing just my personal opinion and counter arguments for us to think about both sides. I'm not even sure what I would decide if I had to make the call. It's obviously a difficult decision.

True.

All I'm proposing is that we discuss a few options and their tradeoffs and see if we can come up with something better than what we've got - something that will offer a soluti

[2020-02-12 21:01] jeremyevans commented on #1600
I agree that we should continue to discuss options and their tradeoffs.  I also think we can consider deprecating `rack.hijack`, assuming we get an option that handles existing use cases for it.

Note that in many cases, `IO#write` will attempt to retry partial writes, it's not like a pure C call to write(2).  `IO#write_nonblock` is much more similar to write(2) and it's fairly easy to end up with

[2020-02-12 21:13] ioquatix commented on #1598
*most* headers can be split by comma. The only one which does not follow this rule that I'm aware of is `set-cookie`. In `Protocol::HTTP::Headers` this is encoded specifically in the representation. I followed this model from the Mozilla implementation: https://github.com/socketry/protocol-http/blob/master/lib/protocol/http/headers.rb#L159-L161

One way to deal with this is to simply allow `set-co

[2020-02-12 22:01] ioquatix commented on #1600
@SamSaffron Wondering if you have time to give your input here?

I am interested in looking at MessageBus as a use case for `rack.hijack`.

I was looking at the implementation and I see 4 (?) distinct paths:

- Request/response with backlog + log message.
- `rack.hijack` steals the socket and puts it into a background worker/threadpool.
- `async.callback` with custom thin dependency.
- Request/res

[2020-02-12 22:19] SamSaffron commented on #1600
I think rack.hijack works ok, the thin pattern is pretty much abandoned these days as almost nobody uses thin. It did have a minor advantage in that it provided a bit evented IO.

I guess the big bit that is missing imo is some light weight abstraction on top of the sockets you are managing to handle epoll and timers. At the moment we do scheduling using https://github.com/discourse/message_bus/bl

[2020-02-12 23:08] boazsegev commented on #1600
@jeremyevans , I believe that we're mostly in agreement.

At this point I would suggest we focus on `rack.hijack` alternatives.

I would also suggest (assuming a viable alternative is found) leaving `rack.hijack` in place for the next major release (Rack 3.0) with a strong deprecation / discouragement notice (roadmapping to Rack 4.0).

As major players migrate to the new scheme, servers might stop

[2020-02-12 23:10] boazsegev commented on #1600
@SamSaffron

Thank you for your time and for joining the discussion.

Do I understand correctly that you prefer an evened approach? If yes, which callbacks do you require? If not, what would be ideal for you?

Could you explain more about what you see as epoll handling and timer handling?

Are you looking for simple connection timeout support or something more?

Are you looking for `on_close` / `o

[2020-02-12 23:25] boazsegev commented on #1600
@ioquatix I assume that at this point we're looking for a better solution for `rack.hijack` use-cases and we will keep supporting the `#each` approach for TTFB optimizations (long responses / response streaming)?

If so, this might bring us back to some of the discussion started in #1272. I still keep some [details in the iodine repo](https://github.com/boazsegev/iodine/blob/master/SPEC-WebSocket-

[2020-02-12 23:30] ioquatix commented on #1600
I'm strongly in agreement with this.

I think doing anything that bypasses normal request/response processing in Rack should be avoided. "There be the dragons". These issues have already been enumerated.

I feel like we should be limiting users to the concurrency model exposed by Rack and the server itself - e.g. multi-process, multi-thread or multi-fiber is the safe approach, and I think we can s

[2020-02-12 23:40] ioquatix commented on #1600
I would say this is beyond the scope of Rack.

It also means that such code paths would never be compatible with HTTP/2, which the example I gave above, when running on Falcon, works just fine.

I think this is addressed as a server implementation issue. If you use Falcon, I believe you can see improved scalability, and it also seems like iodine could achieve that too.

Given my example above, is

[2020-02-13 00:12] jeremyevans commented on #1600
What the provided example doesn't cover is cases where hijack is used to take control of the connection so it is no longer handled by the webserver.   @SamSaffron provides an example with MessageBus serving 15-20k active clients.  You are not going to be able to do this using streaming responses (`body#each`) in most common ruby webservers that are single threaded (Unicorn) or thread-per-connectio

[2020-02-13 00:35] boazsegev commented on #1600
@ioquatix

I think there will always be use-cases that will desirer to degrade (or upgrade) to raw TCP/IP. In the context of HTTP/2, this might degrade (or upgrade) to a tunneled stream.

For example, to avoid `rack.hijack` within ActionCable than Rack will either require a WebSocket specific extension or a raw stream feature similar to `rack.hijack`.

No vested interest here either. I don't even

[2020-02-13 00:40] matthewd commented on #1600
I think my best picture of a future hijack replacement would be that it unify HTTP/1.1 Upgrade and HTTP/2 CONNECT -- so yes, in a more partial-hijack style, providing the initial header response as usual, and then afterward handing off a socket.

H1 hijack already doesn't provide the real raw socket (read: TLS), so an H2 equivalent IO that actually encapsulates its content for an H2 CONNECT tunnel

[2020-02-13 01:07] boazsegev commented on #1600
@matthewd ,

If I understand you correctly, you don't really expect a Ruby native IO from `rack.hijack`, but rather an IO abstraction?

This abstraction might not play well with `poll` / `select` methods... which makes me wonder (if we're going to wrap the IO anyway - why not ask for more (and avoid these compatibility issues)?

IMHO, I think we could ask for more from the future. So much potentia

[2020-02-13 01:11] ioquatix commented on #1600
It would be nice if it was as simple as shifting to a more scalable web server though. But because of the way we force the implementation, it's not possible. `rack.hijack` as it is currently used is basically a crutch for the limited scalability of existing servers, using process per connection and thread per connection. Newer servers with better concurrency models can't solve this problem when `r

[2020-02-13 01:19] ioquatix commented on #1600
By the way, here is the rack handler for `async-websocket`. One part that's missing is some kind of official support in rack for `Upgrade: $protocol` (HTTP/1)  or `:protocol: $protocol` (HTTP/2, defined in RFC8441), so it's pulled directly from the `async.http.request` object

https://github.com/socketry/async-websocket/blob/d3af4b1842c000baad2e98a419ef72cd0919ce24/lib/async/websocket/adapters/rac

[2020-02-13 01:27] ioquatix commented on #1600
Oh, I guess I should add, there IS one way to make HTTP/2 behave like a full hijack socket, and I also implemented it... but not for full hijack - but for proxying via HTTP/2 CONNECT.

It turns out OpenSSL needs an actual socket. So if you want to proxy HTTP/2 or TLS connections over an existing HTTP/1 or HTTP/2 connection, you need to expose a socket.

For HTTP/2, we make a stream, then we create

[2020-02-13 01:32] ioquatix commented on #1600
I do get your approach, I really do. But I don't feel we can expose these interfaces without also implicitly including a specification for concurrency, which I think we all agree it outside the scope of Rack.

Rack is really great because it works completely synchronously. There is no asynchronous behaviour in Rack itself. To me, this is really a great part of rack, maybe the best part. It's just

[2020-02-13 02:11] matthewd commented on #1600
Is the "Not thread safe" a consequence of the "Can't be used with IO.select", or is there some other issue I'm not immediately seeing?

Seems like the IO.select part could possibly be solved upstream, in the long term. Given Ruby's open-ended duck-typing-preferred nature, and how important IO.select is to the use of IO objects, it seems unfortunate that an artificial IO object can't participate. (

[2020-02-13 02:20] ioquatix commented on #1600
Here is a high level overview of what HTTP/2 looks like.

<img width="440" alt="image" src="https://user-images.githubusercontent.com/30030/74395421-26105980-4e74-11ea-91a8-db0b433da09c.png">

All reads and writes must go via the main connection/framer. At least in `async-http` this object does not provide thread safety as it's simply not necessary.

For an individual stream, there is no object to

[2020-02-13 02:27] ioquatix commented on #1600
Bearing in mind that if someone tried to do it, and writes HTTP/1 formatted data, they will probably have unexpected results :)

[2020-02-13 09:00] boazsegev commented on #1600
@ioquatix , to answer your questions (and add some of my own),

Yes.

Pretty much like any single threaded code flow, if you block the main thread - it stalls.

If you call `sleep` or `wait_for_foo` from within the `each` loop, iodine can't reclaim control of the thread and all the evented model breaks.

You can set up iodine to use multiple threads, but that just means that you will have multiple

[2020-02-13 09:31] boazsegev commented on #1600
@matthewd ,

As I think you know, `IO.select` is broken.

It's [limited to `fd` with a value less than 1024](http://man7.org/linux/man-pages/man2/select.2.html#BUGS) (on glibc and some OSs) and I think the situation is worst on windows.

This is why the move to `nio4r` was so important for hijacked connections - connections that could easily reach values that exceed the 1024 limit because of their

[2020-02-13 10:08] ioquatix commented on #1600
Well, my understanding of the events you've proposed, require non-linear flow control.

Assuming that's correct, then they requires the definition of a model for concurrency, e.g. "event driven callbacks".

It's not a hard line I guess, but if you implement a single connection per process web-server, can you implement your event driven model in a purely sequential way?

To me, this is a model of c

[2020-02-13 12:13] boazsegev commented on #1600
Sure I can.

A thread/fiber-per-connection design would work better though, since on a per-process web server you won't be able to share the `client` object with other connections (making message_bus impossible).

In a sequential (non-event based) implementation, the client "thread" is in a read loop:

[code]

The client `write` will need to block until finished and then (optionally) call the `on_

[2020-02-13 12:37] boazsegev commented on #1598
They **may**, but they don't have to.

Servers (and clients) are both allowed to send the headers in multiple lines rather than comma separated values. i.e. [`transfer-encoding`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding) which may appear more than once and may include `chunked`, `gzip` or both.

I don't think Rack should dictate this decision.

Yes, there are, an

[2020-02-13 12:45] mjc-gh commented on #1431
Are you suggesting that the timing attack is still possible because the computed private session ID is externally knowable?

Perhaps using an HMAC instead of just a hash function would prevent an attacker from being able to externally know the "lookup" value.

[2020-02-13 13:14] boazsegev opened #1602 "Move `rack.hijack` to a separate extension SPEC file"
I suggest that we open a `SPEC-extensions` folder and move the `rack.hijack` into this folder.

This will keep current Rack behavior and is only a semantic change.

**Why**?

This change will clarify the fact that the `rack.hijack` is an optional feature / extension, unlike the core Rack specification. This will promote users to test for the extension rather than assume it is supported.

This will

[2020-02-13 13:59] lizdeika commented on #1531
Now that was deep :) Thanks everyone!
@mperham any chance for the fixes in Sidekiq 6.0.5 with unlocked rack version?

[2020-02-14 05:56] atsushi-zto opened #1603 "`handle_empty_content!': EOFError (EOFError)"
Hi,

I updated `rack@2.1.x` to `rack@2.2.2`.
Since then, rack raises EOFError when send the following request.

[code]

[code]

I think this error related [PR#1536](https://github.com/rack/rack/pull/1536).
Is this the intended behavior?

best, regards.

[2020-02-14 14:18] jeremyevans commented on #1603
I don't think it's related to #1536.  It's related to #1572, a bugfix for #761.

It appears the request you are submitting is malformed, specifying a multipart body when no body is provided.  Rack used to swallow this error, but we think that was a mistake.  Is there a reason you think Rack should silently ignore a malformed request in this case?

[2020-02-15 04:14] atsushi-zto commented on #1603
@jeremyevans

Thanks for a reply.

I got it, This issue related #1572.

---

That's right, It's a illegal HTTP request.
Attacker sent illegal request and 5XX was recorded in large quantities, and my holiday is over....

I want the server to return a 400 (bad request).
I think it's the rack's duty to validate request header (Content-Type) and request body. (not application)

What do you think?

[2020-02-15 07:53] ioquatix commented on #1603
What about other kinds of errors e.g. invalid headers, other kinds of invalid body etc.

[2020-02-15 08:05] pvande opened #1604 "Rack::Request#host returns truncated data for domain names containing underscores, other characters"
In Rack 2.1.2, `Rack::Request#host` did no hostname validation, returning everything from `#host_with_port` up to the colon.

[code]

This did not support IPv6 well, so #1561 was implemented to solve that.  This changed the implementation of `#host` to one that relied on regular expressions.  This was released in Rack 2.2.0.

[code]

This provided not only better IPv6 support, but also did some va

[2020-02-15 08:57] atsushi-zto commented on #1603
I misunderstood, `Rack :: Request # params` was called by framework.

But, `EOFError` is hard to catch, so I want to change to another error.
eg) `Rack::Multipart::EmptyContentError`

[2020-02-15 10:44] ioquatix commented on #1604
Thanks for the detailed explanation. I agree everything you say.

I need a little bit more time to review, but I'm open making this behaviour less specific. Do you want to make a PR to start with?

[2020-02-15 16:56] pvande commented on #1604
I’m happy to put something together soon.  👍

On Sat, Feb 15, 2020 at 2:44 AM Samuel Williams <notifications@github.com>
wrote:

[2020-02-15 21:45] resistorsoftware opened #1605 "How to debug 2.0.7 -> 2.1.2"
So I have an App that was using Rack::Session:Cookie

If I use Rack 2.0.7 my App works in that iframe redirects and cookies are all good.

If I update to Rack 2.1.2 to use the new same_site: cookie handler, big chunks of my App no longer render. I am curious as to what changed that could be causing this?

Is there anything in that update path that would be blocking JS or other cookie info?

[2020-02-15 22:15] resistorsoftware commented on #1605
2.0.8 works. Soon as as rebundle to 2.1.0 I lose all my JS processing. Most strange. What the heck happened in that changelog... A simple Sinatra App goes from working to not working just like that.

[2020-02-15 22:30] simi commented on #1605
Can you post some code to reproduce this issue?

[2020-02-15 22:49] resistorsoftware commented on #1605
Good god no... the thing I did... total hack job was... this. I realized that if 2.0.8 works, I will use that. So I forked it, and make a branch for myself off of 2.0.8. I added in the samesite cookie and then re-bundled my App to use that rack. My branch of 2.0.8. So now my App works as usual, and the Chrome browser worked too with all the samesite None settings...

I am going to be scared moving

[2020-02-15 23:37] jeremyevans commented on #1605
If you cannot post a failing spec or a minimal self contained reproducible example showing the issue, it is unlikely we will be able to help you. There are many improvements between Rack 2.0.7 and 2.1.2, and quite a few internal changes.  Some software relied on details of the previous implementation, and that has caused some breakage when upgrading.  One example of this is software that was using

[2020-02-15 23:37] #1605 closed

[2020-02-16 10:19] #1604 closed

[2020-02-16 10:24] ioquatix commented on #1603
I think this would be okay.

[2020-02-16 10:25] ioquatix commented on #1602
Something like this actually makes a lot of sense to me, at least if I don't think about it too much.

[2020-02-17 11:04] ioquatix opened #1608 "Best approach for potential performance enhancements?"
I've been playing around with a query parser implemented in C using Ragel. It's a little bit tricky to compile... but it does perform pretty well:

[code]

Showing a potential ~7x speedup in my initial benchmarks. Bearing in mind the URL encoding is not handled the same way.

There are several areas of Rack which involve parsing which are almost always faster (and more robust) when using Ragel. Ra

[2020-02-17 11:08] ioquatix commented on #1608
Just for reference, here is the parser: https://github.com/ioquatix/trenni/blob/master/parsers/trenni/query.rl

Here is how it's used: https://github.com/ioquatix/trenni/blob/master/spec/trenni/query_spec.rb

Here is the benchmark: https://github.com/ioquatix/trenni/blob/1975b3a5e56741c478e3d5551f8364ad9357b3bf/spec/trenni/parsers_performance_spec.rb#L78-L97

[2020-02-17 18:21] ahorek commented on #1608
nice, I would just prefer an FFI extension which is more portable

[2020-02-17 20:22] ioquatix commented on #1608
FFI extension is slower because delegate performance is important. This is a streaming parser.

[2020-02-17 21:18] ahorek commented on #1608
interesting, here's the benchmark result for calling a simple C function
[code]

the difference will be probably lower with a real example that actually computes something. But you're right, the overhead is unfortunately significant.

in that case, an optional gem would be the best

[2020-02-17 21:55] jeremyevans commented on #1608
I agree, an optional ruby extension gem would be best for this.  FFI seems portable, and is portable in the sense of CRuby/JRuby portable, but how portable it actually is to more niche operating systems depends on what code you are using and what assumptions you are making about types.

[2020-02-17 21:57] raggi commented on #1592
I think this is a good idea, well worth discussion and thought.

Have you considered departing from the CGI spec at this time as well?
It seems that doing so now might not introduce significantly more pain, but would open the door for more optimizations.

[2020-02-17 22:39] ioquatix commented on #1592
I’m what way?

[2020-02-18 05:52] dpsk commented on #1432
Just a reminder to everyone stuck with the issue that you also need to clear your session before testing.
Can use incognito window to verify fix is working too. `redis-rack` 2.1.2 and `rack` 2.2.2 worked for me.

[2020-02-23 00:01] raggi commented on #1592
removing the HTTP_ prefix in the request map (moving the internal keys to some values that is illegal in http). impact varies by implementation, but potentially offers both allocation and match search savings.

[2020-02-23 00:03] ioquatix commented on #1592
I agree. But we would need a different side channel for the other aspects of the request.

`HTTP_` isn't just a prefix, it scopes all user supplied headers. That ensures things like `SERVER_` headers are never able to be provided by the request.

That being said, I think it's at least worth considering. But maybe in a separate issue?

[2020-02-23 00:08] raggi commented on #1592
Yeah, it probably is a separate issue. It's just among the kinds of things I used to think about back in the day, if I'd taken the time to break compat. For internal items, something simple like space prefixes might work, although there may be better choices that debug better.

[2020-02-23 00:11] ioquatix commented on #1592
Completely agree.

If `env` is a hash, then it does get tricky to be a bit more rich. That being said, one could define `env` as

[code]

Or something to that effect. The alternative is a rich request object, e.g. https://github.com/socketry/protocol-http/blob/master/lib/protocol/http/request.rb

Personally, I like richer interfaces.

[2020-02-23 00:12] ioquatix commented on #1592
(in fact it would almost be possible to maintain backwards compatible by making `env` a rich object with a hash like interface).

[2020-02-23 00:20] raggi commented on #1592
Yeah, agree on all points. One of the other common issues we had for extension points was providing stronger mechanisms for forward and backward propagation in the middleware stack. Enabling middleware to drop rich objects into the request chain and read stateful data on the response chain would simplify a fair number of those cases. The async stuff would have been much less of a hack that way :)

[2020-02-23 00:23] ioquatix commented on #1592
Can you give me a brief example so I understand clearly your point?

[2020-02-23 01:02] raggi commented on #1592
[code]

Some this was discussed in https://gist.github.com/raggi/11c3491561802e573a47

I still have mixed confidence that this is distinctly different from today, as we can and do do some of this, and the community does more. Formalizing it takes steps toward improved (runtime) configurability of middleware. The boot time configuration problem remains somewhat of a challenge.

[2020-02-23 01:27] ioquatix commented on #1592
We are slowly making changes to Builder and I hope we can rectify this, I think it's a relatively straight forward issue.

[2020-02-23 12:40] ioquatix commented on #1595
Interesting thoughts from 2012 here cc @raggi https://gist.github.com/raggi/11c3491561802e573a47

[2020-02-23 12:42] ioquatix commented on #1595
Also https://github.com/tenderlove/the_metal cc @tenderlove and https://github.com/Wardrop/Rack-Next

[2020-02-25 00:37] jmugatu commented on #1432
To follow-up on @dpsk's comment, you also need to upgrade `redis-actionpack` to 5.2.0.

[2020-02-26 16:10] boazsegev commented on #1595
I wouldn't mind starting a similar discussion.

Maybe it will change nothing, maybe it will produce wonderful ideas to be implemented in Rack and maybe it will produce a whole new approach... either way, it's worth a try.

Here's a place to throw some ideas:
https://gist.github.com/boazsegev/3aa427c2d4d95d1df09c21ad82f74491

[2020-02-26 21:47] BobbyMcWho opened #1612 "Breaking changes in 2.1.0 and 2.2.0"
Hello, I was going about releasing a new version of omniauth to unpin the hashie version requirement, and we're getting a [failing CI build](https://travis-ci.org/omniauth/omniauth/builds/655540843) using rack 2.2.0.

Going to rack 2.1.0 locally introduces a test failure [here](https://github.com/omniauth/omniauth/blob/master/spec/omniauth/strategy_spec.rb#L245).
[code]

Going to 2.2.0 introduces

[2020-02-26 21:58] jeremyevans commented on #1612
We tightened various areas of the SPEC.  Your first error is probably because you are expecting a the last element of the rack response array to be a `Rack::Response`, and now a plain array is used.  That is a bug in the test, it should only rely on the fact that the last element of the rack response array responds to `each` and yields strings.

The second error is probably related to the host/hos

[2020-02-26 22:26] jeremyevans commented on #1612
Looking at the second error, I think that is also expected.  `HTTP_HOST` should contain the port if the port is nonstandard.  Your test doesn't do that, which is a bug in the test.  This also affected one of my libraries: https://github.com/jeremyevans/roda/commit/6b10d73d38b04852883fbcfb1d5ccb36fd97f998

Since both of the breakages are due to bugs in your tests, I'm going to close this.

[2020-02-26 22:26] #1612 closed

[2020-02-27 07:15] ioquatix commented on #1612
Thanks @jeremyevans for the quick follow up!

[2020-02-28 00:57] BobbyMcWho commented on #1612
@jeremyevans is there a reason you need to include the port in HTTP_HOST when a separate SERVER_PORT opt is passed as well?

[2020-02-28 02:27] matthewd commented on #1612
Like the other `HTTP_*` entries, `HTTP_HOST` is the HTTP `Host` header value. And that header's behaviour is well-defined -- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Host:

(that page does link to [the relevant RFC section](https://tools.ietf.org/html/rfc7230#section-5.4) too -- I'm just using it because it has a less opaque wording)

[2020-02-28 04:29] ioquatix commented on #1598
Even puma stuffed this up in the latest release. So, I think we should consider what we do here.

https://twitter.com/nateberkopec/status/1233172403389259782

Actually, the generic representation of headers is an array of key, value pairs. Rack, by using a hash, is already imposing a data structure which can't represent all possible sets of headers and retain the original order. In order to allow

[2020-02-28 11:36] boazsegev commented on #1598
@ioquatix ,

It is clear to me that adding array support could result in an annoying mix between new and old behavior, such as:

[code]

I believe that your idea is wise, but I also believe it's impractical unless we make breaking changes that prevent the old behavior as a whole.

I think the fact that the Puma "patch" was, IMHO, ill considered and may have ignored the Rack specification, does not

[2020-02-28 12:44] boazsegev commented on #1598
P.S.

I understand that Header values are more comfortable to find when stored in a Hash (**incoming** headers).

However, I wonder if header **output** should be editable after being set. Does anyone "fix" their headers after setting them?

Changing the Header response to an Array of Arrays might both improve performance and solve this design issue.

I know, it's a backwards compatibility breakin

[2020-02-28 20:59] ioquatix commented on #1598
This is the model I use in `protocol-http` and it's good.

[2020-02-28 22:06] jeremyevans commented on #1598
In terms of middleware accessing or modifying response headers, yes, it is very common.  For some examples, look at middleware that ships with Rack.

This turns accessing or modifying response headers from O(1) to O(N) operation.  Granted, N in this case is not usually that large.

For the types of operations usually performed on response headers by middleware, using a hash would generally result

[2020-02-28 22:45] boazsegev commented on #1598
I agree with this reasoning 100% - development and maintenance ease is super important. There's so much to do. Keeping developers happy and development time short is a very strong argument.

You're probably right 😅, though I wish you weren't 🙈

Funny enough, I looked at some of these examples when I was designing iodine. I think many of these concerns are server concerns that could (IMHO, should)

[2020-02-28 22:47] ioquatix commented on #1598
I’m very strong on the opinion that `content-length` should not be modified or set by user code. As we saw, it breaks stuff. That’s been by default position in falcon since day one and `content-length` is ignored by falcon.

[2020-02-28 22:59] boazsegev commented on #1598
Sorry, I think I got us all sidetracked.

@ioquatix , @jeremyevans , do you agree with [my previous assessment](https://github.com/rack/rack/issues/1598#issuecomment-592475767) that this suggestion only adds complexity (as we will still need to support the existing approach)?

If so, then unless we forgo backwards compatibility, perhaps we could close this issue?

[2020-02-28 23:12] jeremyevans commented on #1598
Well, this definitely adds internal complexity. It can make some things simpler for the user, such as supporting multiple values for the same cookie.  However, some things could be more complex for the user, since all middleware that needs to operate on header values would need to handle both the string case and the array case.  Weighing both sides, I'm against adding allowing response header valu

[2020-02-28 23:14] ioquatix commented on #1598
I think allowing `set-cookie` to be an array makes total sense. It's the only header where it makes sense to have multiple values in terms of how Rack implements response headers. If we define only that one header as an array, our internal implementation gets a bit faster and cleaner, and we also ensure that servers are efficient because no other header can contain "\n" and thus we don't need to p

[2020-02-28 23:31] jeremyevans commented on #1598
It may be simpler to make the spec be that only `set-cookie` can contain "\n", and all other headers cannot contain it.  That simplifies response processing in servers to roughly the same degree, and also keeps the spec simpler by using a consistent data type.  However, I have not read the RFCs enough to know if only `set-cookie` can show up multiple times.  Unless only `set-cookie` is allowed to

[2020-02-29 00:23] ioquatix commented on #1598
I would be okay with that but internally we already use an array so it still seems inefficient.

[2020-02-29 00:33] jeremyevans commented on #1598
I wasn't aware rack used an array internally for `set-cookie`, can you point me where that happens, as that may cause me to reconsider.

[2020-02-29 00:45] ioquatix commented on #1598
I haven't fully worked through it, but you can see here:

https://github.com/rack/rack/blob/838ce3aee47456573675ba2353f1573158caab32/lib/rack/utils.rb#L248-L257

`header` can be an array.

`HeaderHash` internally allows values to be an array: https://github.com/rack/rack/blob/master/lib/rack/utils.rb#L440-L444

I can dig into it further if you need me to.

[2020-02-29 01:08] jeremyevans commented on #1598
Thanks, that is helpful. It seems both of those areas assume that callers may be violating SPEC.  In both cases, the code may work with existing array values, but they generate string values and not arrays in order to comply with SPEC.  So it looks like they are both following Postel's Law.  It doesn't look like there is much if any inefficiency in these two cases.

I think I'm fine keeping that b

[2020-02-29 01:36] ioquatix commented on #1598
HeaderHash does it as an optimisation to avoid generating a lot of garbage.

[2020-02-29 02:46] BobbyMcWho commented on #1612
@jeremyevans Looking at this again, the fact that a plain array is used as the last element vs a rack response, that by definition is a breaking change, no?

[2020-02-29 02:48] ioquatix commented on #1612
You were relying on undefined behaviour. The last element is only required to respond to `#each`

[2020-02-29 02:53] BobbyMcWho commented on #1612
Thanks @ioquatix , I apologize for the noise, I just recently started maintaining omniauth and am ensuring I do what due diligence I can before simply changing those existing specs willy-nilly with what a wide footprint omniauth has.

[2020-02-29 03:03] ioquatix commented on #1612
Let me know if I can help in any way.

[2020-02-29 08:46] boazsegev commented on #1598
IMHO, I would suggest that the internal workings of the Rack **framework / middleware** should not effect the Rack **specification** (server-side).

This isn't correct.

According to the [HTTP specification (section 4.2)](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2):

There are a number of headers that allow multiple values. HTTP allows all of these headers to be written using mu

[2020-02-29 08:59] ioquatix commented on #1598
`set-cookie` is the **only** header that I'm aware of that is an exception to this rule. Therefore, it's the only header where a comma is not a sufficient separator, and thus "\n" was chosen.

[2020-02-29 09:50] boazsegev commented on #1598
@ioquatix , I apologize. I think I wasn't clear about what I meant to communicate, which may have caused us to go in a circle.

Yes, I agree with you that other headers **could** (probably) be unified to a single line.

However, right now, applications **have a choice** - applications are allowed to indicate to the server that they wish to send multiple values either as a comma separated list or a

[2020-02-29 10:10] matthewd commented on #1598
\+1, FWIW. To me Rack-the-spec is, hand-wavily, a fairly direct Ruby encoding of the HTTP protocol.. and it feels a bit too low-level & abstract to be forcing this sort of opinion ("there are two different ways to send this, but the spec says they're the same, so you may only do this one") onto applications.

The linked discussion around `x-robots-tag` seems to support the idea that while `set-coo

[2020-02-29 10:31] ioquatix commented on #1598
The implications of the current implementation are that we:

1. Produce a lot of string garbage when dealing with headers like `set-cookie` and,
2. Servers must split all header values by "\n" even if it's irrelevant in practice which is a non-trivial O(N) where N is the byte size of the response headers, thus inefficient.

It's also sufficiently complicated that Puma recently got the implementati

[2020-02-29 12:46] boazsegev commented on #1598
I agree.

But **this will also be the situation in the future** - unless we are willing to introduce breaking changes.

Without breaking changes, servers will always need to test strings (even strings nested within arrays) for a hidden `\n` delimiter.

In fact, for **security** reasons, servers might always need to test for `\n` anyway.

[2020-02-29 20:37] ioquatix commented on #1598
Header values can’t contain control characters according to the RFCs. So putting newlines should be invalid, although HTTP/2 HPACK defines header values as a series of octets so it at least won’t break tge underlying protocol.

[2020-03-01 22:20] ioquatix commented on #1598
So, I threw together a quick test using HTTP/2:

[code]

This tries character codes 0..31 in a header value. Google only rejected `\r` (13) and `\n` (10). All other values in the header were accepted. In addition, `\r` and `\n` caused stream errors which is a low level error, not a failed request (e.g. status code 4xx or 5xx).

That being said, `falcon` headers, via http/2, are binary safe and it

[2020-03-01 23:28] boazsegev commented on #1598
I think that in practice, it should still be okay... also, I suspect '\n' and '\r' shouldn't be allowed even in HTTP/2.

Although the HTTP/2 transport encoding allows any octet to be securely encoded, IMHO, [the octet restrictions still apply, as they are inherited from HTTP/1 according these paragraphs in the HTTP/2 RFC 7540](https://httpwg.org/specs/rfc7540.html#HTTPLayer):

Also, AFAIK, HTTP/2

[2020-03-01 23:32] ioquatix commented on #1598
All good points.

The HPACK spec explicitly allows octets. The HTTP/2 RFC as you state suggest the semantics should be compatible with HTTP/1. So, yes, I don't think you are wrong, but I also don't think I'm wrong.

That being said, encoding headers using "\n" to separate fields is still inefficient and superfluous in almost all headers which support normal comma concatenation. So, I still think t

[2020-03-02 00:27] boazsegev commented on #1598
The node.js API has a response object that offers the [`setHeader` member function](https://nodejs.org/api/http.html#http_response_setheader_name_value) that accepts a Hash with header name-values pairs, where values can be an array (if setting multiple values)...

But node.js doesn't have to deal with backwards compatibility.

Side-Note 🤔:

It might not be a bad idea to transition to a node.js co

[2020-03-02 01:26] ioquatix commented on #1598
Well, according to the spec, the response headers should only respond to `#each`. So any middleware which is adjusting it must make an entirely new set of headers, or assume it's a hash. That being said, most middleware is using `Rack::Utils::HeaderHash` which hides the implementation details of the response headers. So, I don't think we'd be breaking backwards compatibility much, since users eith

[2020-03-02 03:27] HellRok opened #1613 "Hostnames with an _ causing issues"
We upgraded from version 2.1.2 to 2.2.2 and noticed an issue in our Rails 6.0.2.1 application regarding hostnames with an _ not coming through correctly (I suspect it matters that the port is specified but I haven't tested that case)

I've managed to reproduce the issue using this code
[code]

Adding this to my `/etc/hosts`
[code]

This is the output I get when curling against the particular hostn

[2020-03-02 04:16] StephaneP commented on #1613
hostnames should not contain an underscore, dns names sure, but a hostname should be hyphenated "-"

[2020-03-02 05:25] HellRok commented on #1613
I know ruby's `URI.parse` handles hostnames with underscores as I'd expect, having had a brief look through the rack code I'm thinking you've implemented it your own way to more liberally handle IPv6 requests, is that correct?

Is there any reason not to be a little more liberal with what rack supports since not every rack application is facing the internet, some rack apps are used internally and

[2020-03-02 06:26] ioquatix commented on #1613
The hostname is used to reconstruct a valid URL. If you can point me at an RFC which shows that hostname in a URI can have an underscore, I'd definitely accept a PR.

If you can't show that, but you think leniency is a good idea, I'd be somewhat willing to accept a PR, provided sufficient justification was provided.

That being said, I don't think we should be generating invalid URLs.

[2020-03-02 15:47] boazsegev commented on #1598
As a server implementor, I would much prefer if the Rack specification would **not** require me to use the Rack gem.

Sure, applications might have Rack as a dependency - however, the server is currently blind to the Rack gem. The server only concerns itself with the details of the specification.

[2020-03-04 21:44] jmreid opened #1615 "Rack::ContentLength and net/http issue"
It appears that Ruby's net/http leaves behind an incorrect `content-length` header when it fetches and inflates a compressed object:
https://bugs.ruby-lang.org/issues/16672

Rack changed the behaviour in 2.0.8 to no longer compute the content-length on each body  write (https://github.com/rack/rack/issues/1472#issuecomment-574362342) and instead use `Rack::ContentLength` if you need to compute the

[2020-03-04 22:04] jeremyevans commented on #1615
I don't think we want to change Rack's behavior in this area.  If a Rack app sets `Content-Length` incorrectly, that is a bug in the app, and the correct response is to fix the app or middleware that is setting the incorrect `Content-Length`.

Having `Rack::Response` try to fix incorrect content lengths would impose a significant performance penalty on Rack users are setting `Content-Length` corre

[2020-03-04 22:08] jmreid commented on #1615
Agreed @jeremyevans. I'll close this issue here. Hopefully some of these breadcrumbs help the next person who might run into a similar issue.

[2020-03-04 22:08] #1615 closed

[2020-03-07 16:42] utkarsh2102 opened #1616 "Test failure with rack 2.0.8"
Hi,

For some reasons, I am supposed to use rack 2.0.8.
With that, I am getting the following test failure:
[code]

[2020-03-10 09:05] ioquatix opened #1617 "Document thread safety"
I would like to start a discussion about thread safety of rack applications and defining a thread safety specification for rack 3.

Personally, I think the safest option is to define rack apps as unsafe to invoke from multiple threads. I can elaborate, but I'd be interested to hear other opinions first.

[2020-03-10 14:12] jeremyevans commented on #1617
I don't think the rack specification should concern itself with thread safety.  The rack API itself is functional (does not require side effects).  Why would `proc{|env| [200, {}, []]}` be unsafe to invoke from multiple threads?  Defining all rack apps as thread-unsafe just because some rack apps are thread-unsafe seems wrong to me.

[2020-03-10 21:25] ioquatix commented on #1617
I believe that too.

But the default assumption should be that methods are thread unsafe.

It's trivial to make a middleware that is not thread safe.

"Defining all rack apps as thread-safe just because some rack apps are thread-safe seems wrong to me".

Do you believe a method is thread-safe or thread-unsafe by default? Because in my experience there is plenty of code which is the latter, and eve

[2020-03-10 21:45] jeremyevans commented on #1617
Whether a rack app is thread safe or not is a property of the app, it has nothing to do with the rack specification or library, IMO.  I don't think rack should document whether rack apps are thread-safe or not, since rack has no control over rack apps.  I suppose the furthest I would be willing to go would be to say that "rack apps may not be thread-safe", or "whether a rack app is thread-safe dep

[2020-03-10 22:11] ioquatix commented on #1617
Thread safety is non-trivial when considering actual programs. A nice summary of different issues you might encounter: https://bearmetal.eu/theden/how-do-i-know-whether-my-rails-app-is-thread-safe-or-not/

Reentrancy is an important quality which should be documented. Either we expect rack apps to be thread safe, or we don't, in which case we can't assume any rack apps are thread safe in general.

[2020-03-10 23:04] nateberkopec commented on #1617
Agreed. Why does Rack have to concern itself with this issue? If people are writing thread-unsafe applications and then using them with Puma, isn't that Puma's problem?

Rack is a protocol, not a set of best-practices for application development. Where does the remit come from that Rack has to make statements about the way the application is implemented?

Perhaps we should declare that all Rack ap

[2020-03-10 23:05] jeremyevans commented on #1617
What we have now is the server tells the application whether it may invoke the application from multiple threads (`rack.multithread`), and it is up to the application to handle that.  Granted, by it being an entry in the rack environment, it comes too late to be generally useful.

I don't think Option 2 will work.  `run` can be passed a constant, which would result in the same object no matter how

[2020-03-10 23:13] nateberkopec commented on #1617
From my perspective, you say that your application is thread-safe the moment you configure your server for an app server with thread count > 1. I'm not sure what an extra option adds here. Who out there would be setting their app server's thread count to 5 and then also selecting a "non-threadsafe" option in addition to that.

[2020-03-10 23:19] ioquatix commented on #1617
Then why do we have `rack.multithread`? Can we remove it? As you say: "it comes too late to be generally useful."

Why? It's perfectly reasonable on JRuby to use isolated threads for parallelism. This doesn't mean you want shared state... it's perfectly okay to make one app per thread.

The problem here is that whether an app is thread safe or not, can be handled by the server. Bug or bug free is

[2020-03-10 23:25] jeremyevans commented on #1617
Agreed.

I'm OK with removing that and `rack.multiprocess` in Rack 3.

I was on board with option 5 back when I thought it meant something else (before your edit).  I don't think you can instantiate separate apps per thread.  Apps can be constants in Ruby (e.g. `run Roda`).  At least doing so doesn't necessarily make the resulting apps thread-safe.

I don't think Rack needs to change or be involve

[2020-03-10 23:28] ioquatix commented on #1617
The third option is, apps which are not thread safe can be run in isolation on separate threads. Is there a reason why we should ignore that?

[2020-03-11 00:05] ioquatix commented on #1617
So, after looking through the code changes required for #1618, I found that the session code is *still* racey:

https://github.com/rack/rack/blob/6196377654b7ff7ce7abaecea62bb285d77d53aa/lib/rack/session/pool.rb#L39-L44

It:

- Assumes that there is a shared `@pool` which isn't always true (multi-process, multi-thread with unique app, guild, etc).
- `generate_sid` is invoked from outside of the mu

[2020-03-11 00:15] boazsegev commented on #1617
@ioquatix ,

This option doesn't exist in practice - not with Ruby MRI (C Ruby).

It could also result in unexpected behavior.

Consider the following `config.ru`:

[code]

APP is a global object - how could a server safely load this `config.ru` file with a different `APP` object per thread?

Worst - consider this:

[code]

If you could load a different APP per thread, you'd get really funny resul

[2020-03-11 00:27] ioquatix commented on #1617
@boazsegev you've really hit the nail on the head. I completely agree with you it's a bad situation - what SHOULD we be doing with such a `config.ru` file?

Is this something servers should be expected to handle? How about when guilds are introduced? If users insist on such code, how should it work with JRuby where users might want isolated parallelism to mimic multi-process models?

The only way

[2020-03-11 00:48] ioquatix commented on #1617
@nateberkopec So, I checked your assumptions, and this is just a single sample, but with a fresh Rails app:

[code]

So, it didn't create a huge number of extra objects.

That being said, it was a very basic app, and of course shared caches and other resources might impact memory usage. But at least it's not an extra 100,000 objects per thread or something obscene.

[2020-03-11 00:49] jeremyevans commented on #1617
So maybe we just document: "If you are not sure app is thread-safe, you should not run in a multi-threaded mode."  I definitely think we should not go further than that, and I don't think going that far is necessary.  Let's leave things up to the person running the application to choose an appropriate server.  If they choose wrongly, that's on them.  There's no need to add more complexity to Rack

[2020-03-11 00:55] ioquatix commented on #1617
I used falcon, and it worked fine, I didn't see any obvious issues. Can you explain why it shouldn't work? What did you check to verify that it doesn't work?

If the app returned from evaluating `config.ru` is unique, and the app server does not use that app object on multiple threads, it absolutely does solve the thread safety issue, at least as far as the relationship between rack, the server an

[2020-03-11 01:11] jeremyevans commented on #1617
This is not true for a large portion of Rack apps.  It's probably not true for almost all apps where the rack app is a class and not an instance.

`Rails.application` is a singleton: https://github.com/rails/rails/blob/master/railties/lib/rails.rb#L39-L41

If you have multiple separate Rails applications in the same process, `Rails.application` cannot be correct for both.

Even if you were able to

[2020-03-11 01:23] ioquatix commented on #1617
That's really an issue with the design of Rails, not Rack, though. I mean, sure, it might not work (but it seems to be fine in my testing). As long as the application is thread safe, I don't think it's an issue that `config.ru` returns an app that points at the same global application instance, i.e.

[code]

To me, this should be fine. It might not support graceful reloading in JRuby, but that's o

[2020-03-11 01:24] ioquatix commented on #1617
https://github.com/socketry/falcon/tree/master/examples/sequel is the code + a sample database just in case you want to try it out / break it.

[2020-03-11 02:02] jeremyevans commented on #1617
Isn't that getting back to "the app needs to be thread-safe"? My point is you cannot take an arbitrary single-threaded app, run it app-per-thread, and have the result be thread safe.  Ergo, app-per-thread is not a workable default approach, and not one Rack should endorse.  Of course, Rack servers (e.g. falcon) are free to implement the approach, but I don't think Rack should be recommending it.

[2020-03-11 04:21] ioquatix commented on #1617
No, it's "If you want your app to run correctly don't use global mutable state." and "If you decide to use global mutable state, make sure you put a lock around it.". Unfortunately even in Rack, we have an example of code which forgets to use a mutex.

So, roughly speaking, there are two models:

1. One app per server thread/process.
2. One app for all threads/processes.

To me, the option 1 is sa

[2020-03-11 06:13] jeremyevans commented on #1617
I'm OK with some of the language you are proposing.  I would drop the discussion of application instances, as applications can be singletons (e.g. classes).  I would also drop discussion of the isolated multi-thread model.  So just:

[2020-03-11 09:07] boazsegev commented on #1617
@ioquatix

Just so we're clear - this "ill-formed" design describes **all** of the applications I've written and reviewed so far in all of my years programming in Ruby.

Based on the current Rack specification, where "_A Rack application is a Ruby object (not a class)_", all of the Rack applications and frameworks I've had experience working with define the Application as either a global object, a

[2020-03-11 09:46] ioquatix commented on #1617
I have a strong aversion to global mutable state because I've seen it cause so many problems and so many bad designs. Maybe your design is great. But I'd prefer a framework that uses instances of objects to encapsulate state. Isolation is a *very* important property for understanding the behaviour of code.

It's trivial to show this using an example.

[code]

Using a shared instance of `App` is no

[2020-03-11 10:29] boazsegev commented on #1617
@ioquatix

When you presented this code:

[code]

What was the developer's intention? Did they desire each thread to provide a different counter or did they desire the counter to be an application wide state?

This ambiguity isn't something Rack (or servers) need to solve for the developer. This is ambiguous code that the developer needs to clarify by either using thread storage or a Mutex.

I bel

[2020-03-11 10:48] ioquatix commented on #1617
(As a funny/tragic aside: If you run the above code on Rubinius, at one point, it was actually possible for the instance variables to disappear: assigning to ivars caused an internal race condition.)

I like framing it from the POV of the developer.

So, if a developer wrote the above code, the only possible execution model is a single app/process...?

But any modern rack server will typically spi

[2020-03-11 10:59] ioquatix commented on #1617
This isn't necessarily true. JRuby and TruffleRuby don't support fork, so the model for parallelism doesn't intrinsically relate to the applications requirements (being thread safe).

[2020-03-11 14:06] boazsegev commented on #1617
@ioquatix ,

Probably. I would assume a developer writing this code would limit the server to a single working process... though, if I were to write that code, I would also limit the server to a single thread ;-)

Both Puma and Iodine provide a single thread / single process option (i.e., `iodine -t 1`). Threads and processes are always a **choice** left to the application developer.

I agree that

[2020-03-11 14:39] alor opened #1619 "Version 2.2.x breaks Rails Actioncontroller:Live streaming"
When you upgrade rack from 2.1.x to 2.2.x the streaming functionality in rails stops working.
A simple controller like this:

[code]
will not stream anymore and will send all the data at the end of the cicle.
After many attempts I've pinned down that the culprit is Rack 2.2.x.

with version 2.2.0 if you invoke that controller will raise an exception:

[code]

with version 2.2.1 no exception is rai

[2020-03-11 15:17] jeremyevans commented on #1617
I looked into this issue, since I think it is better to fix bugs then to use them to further a point. :)

In `rack/session/pool.rb`, `generate_sid` is only called inside `with_lock` blocks, which do use the mutex.  So internal use in that file is thread safe.

In `rack/session/abstract.id.rb`, it is only called inside `commit_session`, and then only when the `:drop` or `:renew` options are used an

[2020-03-11 16:51] nateberkopec commented on #1617
Right. Other than rack middleware, the other common problem I see reported to Puma is people putting database connections (not pools) in globals or constants (REDIS = ...). The model proposed doesn't fix that. The only other place we ever see them is in Rack middleware, which I'm looking at providing some additional stuff in Puma to maybe make that harder to mess up.

So just to sum up for me:

Wo

[2020-03-11 22:20] ioquatix commented on #1617
Thanks for the great discussion, I know it consumes a lot of mental effort, so it is appreciated.

So, I'm looking at how I should implement this in falcon, and there are two primary concerns which I think impact the implementation:

- Graceful reloading, and
- Existing behaviour of shared state.

There are ultimately two models by which apps can be loaded:

[code]

[code]

(where `make_worker` is